# Treebank Alignments
1. Align Sentences: SPMRL <--> UD
1. Align original sentence tokens to morphemes in SPMRL & UD
1. Align Morphemes: SPMRL <--> UD
1. Create tests to run when commiting new versions of TBs 
1. Upload official train-dev-test splits for SPMRL & UD
   1. Add sentence alignment table between SPMRL & UD (also add standard sentence IDs to the sentence number comment)
   1. Add morpheme alignment table between SPMRL & UD
   1. Add token-to-morpheme alignment table
   1. Add NER tag tables for SPMRL & UD

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('paper')
sns.set_style('white')

In [5]:
def make_conll_df(path, add_head_stuff=False):
    # CoNLL file is tab delimeted with no quoting
    # quoting=3 is csv.QUOTE_NONE
    df = (pd.read_csv(path, sep='\t', header=None, quoting=3, 
                names = ['ID', 'FORM', 'LEMMA', 'UPOS', 'XPOS', 'FEATS', 'HEAD', 'DEPREL', 'DEPS', 'MISC'])
                # add sentence labels
                .assign(sent = lambda x: (x.ID==1).cumsum())
                # replace bad root dependency tags
                .replace({'DEPREL': {'prd': 'ROOT'}})
               )
    
    if add_head_stuff:
        df = df.merge(df[['ID', 'FORM', 'sent', 'UPOS']].rename(index=str, columns={'FORM': 'head_form', 'UPOS': 'head_upos'}).set_index(['sent', 'ID']),
               left_on=['sent', 'HEAD'], right_index=True, how='left')
    return df

## 1. Align Sentences: SPMRL <--> UD

In [6]:
ner = (pd.read_csv('curation.csv.gz')
      .assign(sent=lambda x: x.file+'_'+x.sent.astype(str)))

In [7]:
def get_orig_sent(s):
    start = int(s.split('-')[0].split('_')[1])
    sent = int(s.split('.')[1].split('_')[1])
    orig_sent = start+sent-1
    return orig_sent

In [8]:
ner['orig_sent'] = ner.sent.apply(get_orig_sent)

In [9]:
ner.head()

,sent_tok_num,tok_offset,token,FEAT_gender,FEAT_number,FEAT_case,FEAT_degree,FEAT_transitivity,FEAT_tense,FEAT_mood,...,dep_lex_morph_pos,dep_arc,EXTRA,sent,ner_layers,ner_type,is_ner,biose,file,orig_sent
0,1-1,0-5,עשרות,Fem,Plur,*,*,*,*,*,...,1-2,NaN,NaN,dev_1-100.tsv_1,0,_,False,O,dev_1-100.tsv,1
1,1-2,6-11,אנשים,Masc,Plur,*,*,*,*,*,...,1-3,NaN,NaN,dev_1-100.tsv_1,0,_,False,O,dev_1-100.tsv,1
2,1-3,12-18,מגיעים,Masc,Plur,*,*,*,*,*,...,1-3,NaN,NaN,dev_1-100.tsv_1,0,_,False,O,dev_1-100.tsv,1
3,1-4,19-20,מ,_,_,_,_,_,_,_,...,1-5,NaN,NaN,dev_1-100.tsv_1,0,_,False,O,dev_1-100.tsv,1
4,1-5,21-27,תאילנד,_,_,_,_,_,_,_,...,1-3,NaN,NaN,dev_1-100.tsv_1,1,GPE,True,S-GPE,dev_1-100.tsv,1

In [10]:
ner_sents = ner.groupby('orig_sent').apply(lambda x: ' '.join(x.token.to_list()))
ner_sents.head()

orig_sent
1    עשרות אנשים מגיעים מ תאילנד ל ישראל כש הם נרשמ...
2    תופעה זו התבררה אתמול ב וועדת ה עבודה ו ה רווח...
3    יו"ר ה וועדה , ח"כ אורה נמיר ( מערך ) , טענה כ...
4    מ צד אחד רוצה ה אוצר להוריד את שכר ה מינימום ,...
5    נמיר הודיעה כי תפנה ל שרי ה פנים ו ה עבודה ו ה...
dtype: object

In [11]:
#TODO:
# ud_sents = RELEASE FROM GITHUB
# spmrl_sents = from AMIT / other version?

### UD sentences

import sys
!conda install --yes --prefix {sys.prefix} -c conda-forge conllu

In [13]:
from conllu import parse

In [24]:
with open('../UD_Hebrew-HTB/he_htb-ud-dev.conllu', 'r', encoding='utf8') as f:
    ud_dev = parse(f.read())
with open('../UD_Hebrew-HTB/he_htb-ud-test.conllu', 'r', encoding='utf8') as f:
    ud_test = parse(f.read())
with open('../UD_Hebrew-HTB/he_htb-ud-train.conllu', 'r', encoding='utf8') as f:
    ud_train = parse(f.read())

In [25]:
ud_dev[0].metadata

OrderedDict([('sent_id', '1'),
             ('text',
              'עשרות אנשים מגיעים מתאילנד לישראל כשהם נרשמים כמתנדבים, אך למעשה משמשים עובדים שכירים זולים.')])

In [989]:
list(ud_dev[2])[:3]

[OrderedDict([('id', 1),
              ('form', 'יו"ר'),
              ('lemma', 'יו"ר'),
              ('upostag', 'NOUN'),
              ('xpostag', 'NOUN'),
              ('feats',
               OrderedDict([('Abbr', 'Yes'),
                            ('Definite', 'Cons'),
                            ('Gender', 'Masc'),
                            ('Number', 'Sing')])),
              ('head', 12),
              ('deprel', 'nsubj'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', (2, '-', 3)),
              ('form', 'הוועדה'),
              ('lemma', '_'),
              ('upostag', '_'),
              ('xpostag', None),
              ('feats', None),
              ('head', None),
              ('deprel', '_'),
              ('deps', None),
              ('misc', OrderedDict([('SpaceAfter', 'No')]))]),
 OrderedDict([('id', 2),
              ('form', 'ה'),
              ('lemma', 'ה'),
              ('upostag', 'DET'),
              ('xpostag', 'DET'),
              ('feats', OrderedDict([('PronType', 'Art')])),
              ('head', 3),
              ('deprel', 'det:def'),
              ('deps', None),
              ('misc', None)])]

In [104]:
def get_conllu_form_sent(tl):
    return tl.metadata['sent_id'], ' '.join([t['form'] for t in tl if type(t['id']) is int])

ud_sents = [get_conllu_form_sent(tl) for tl in ud_dev] + [get_conllu_form_sent(tl) for tl in ud_train] + [get_conllu_form_sent(tl) for tl in ud_test]
ud_sents = list(zip(*ud_sents))
ud_sents = pd.Series(index=ud_sents[0], data=ud_sents[1])
ud_sents.head()

1    עשרות אנשים מגיעים מ תאילנד ל ישראל כש הם נרשמ...
2    תופעה זו התבררה אתמול ב וועדת ה עבודה ו ה רווח...
3    יו"ר ה וועדה , ח"כ אורה נמיר ( מערך ) , טענה כ...
4    מ צד אחד רוצה ה אוצר להוריד את שכר ה מינימום ,...
5    נמיר הודיעה כי תפנה ל שרי ה פנים ו ה עבודה ו ה...
dtype: object

### SPMRL sentences

In [655]:
def get_conllu_form_sent_clean(tl):
    skip_up_to = -1
    sent_id = tl.metadata['sent_id']
    toks = []
    for i, t in enumerate(tl):
        tok_id = t['id']
        if type(tok_id) is tuple:
            first_tok_id=tok_id[0]
            last_tok_id = tok_id[2]
            tok_len = last_tok_id - first_tok_id
        else:
            first_tok_id=tok_id
            
        if first_tok_id>skip_up_to:
            if type(tok_id) is tuple and (tl[i+tok_len+1]['form'].startswith('_') or tl[i+tok_len+1]['form'].endswith('_')):
                toks.append(t['form'].strip('_'))                                           
                skip_up_to = last_tok_id
                #print(skip_up_to)
            elif type(tok_id) is int:
                toks.append(t['form'].strip('_'))
            
    return sent_id, ' '.join(toks)

ud_sents_clean = [get_conllu_form_sent_clean(tl) for tl in ud_dev] + [get_conllu_form_sent_clean(tl) for tl in ud_train] + [get_conllu_form_sent_clean(tl) for tl in ud_test]
ud_sents_clean = list(zip(*ud_sents_clean))
ud_sents_clean = pd.Series(index=ud_sents_clean[0], data=ud_sents_clean[1])
ud_sents_clean.head()

1    עשרות אנשים מגיעים מ תאילנד ל ישראל כש הם נרשמ...
2    תופעה זו התבררה אתמול ב וועדת ה עבודה ו ה רווח...
3    יו"ר ה וועדה , ח"כ אורה נמיר ( מערך ) , טענה כ...
4    מ צד אחד רוצה ה אוצר להוריד את שכר ה מינימום ,...
5    נמיר הודיעה כי תפנה ל שרי ה פנים ו ה עבודה ו ה...
dtype: object

In [509]:
sp_test = make_conll_df('test_hebtb-gold.conll')
sp_dev = make_conll_df('dev_hebtb-gold.conll')
sp_train = make_conll_df('train_hebtb-gold.conll')
sp_dev.sent.nunique(), sp_train.sent.nunique(), sp_test.sent.nunique()

(500, 4937, 716)

In [510]:
sp_dev['orig_sent'] = sp_dev.sent
sp_dev['s'] = sp_dev.sent

sp_train['orig_sent'] = sp_train.sent + 500
sp_test['orig_sent'] = sp_test.sent + 500 + 4937

sp_dev.orig_sent.min(), sp_dev.orig_sent.max(), sp_train.orig_sent.min(), sp_train.orig_sent.max(), sp_test.orig_sent.min(), sp_test.orig_sent.max()

(1, 500, 501, 5437, 5438, 6153)

In [1529]:
sp_sents = pd.concat([sp_dev, sp_train, sp_test])
sp_sents = sp_sents.groupby('orig_sent').apply(lambda x: ' '.join(x.FORM.to_list()))
sp_sents.head()

orig_sent
1    עשרות אנשים מגיעים מ תאילנד ל ישראל כש הם נרשמ...
2    תופעה זו התבררה אתמול ב וועדת ה עבודה ו ה רווח...
3    יו"ר ה וועדה , ח"ך אורה נמיר ( מערך ) , טענה כ...
4    מ צד אחד רוצה ה אוצר להוריד את שכר ה מינימום ,...
5    נמיר הודיעה כי תפנה ל שרי ה פנים ו ה עבודה ו ה...
dtype: object

### ud - ner alignment

In [ ]:
from fuzzywuzzy import fuzz

In [520]:
for u, n in zip(ud_sents, ner_sents):
    if fuzz.ratio(u, n)<80:
        print (u)

Fully aligned

### UD - SPMRL alignment

!pip install fuzzywuzzy

In [477]:
ud_sents_clean.to_csv('ud_sents_clean.csv')
sp_sents.to_csv('sp_sents.csv')

/home/dan/anaconda3/envs/tf/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.
/home/dan/anaconda3/envs/tf/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [513]:
# ud_sents_clean: '4828', '4829' - duplicates
# ud_sents_clean: '5432'-'5518' - many duplicates with '4126'+

In [514]:
remove = ['1616', '2405', '2837', '3301', '3314', '3379', '3549', '3749', '3785', '4058', '4069', '4210', '4240', '4829', '5071', '5099', '5164', '5169', '5282']
duplicate = ['5432', '5433', '5435', '5436', '5439', '5444', '5445', '5447', '5449', '5450', '5451', '5452', '5454', '5455', '5461', '5462', '5468', '5469', '5470', '5473', '5474', '5475', '5476', '5477', '5478', '5479', '5480', '5481', '5482', '5483', '5484', '5485', '5486', '5488', '5489', '5490', '5491', '5492', '5493', '5494', '5496', '5497', '5498', '5499']
remove += duplicate

In [526]:
streak_type = 'good'
streak_start=0
for i, (u, s) in enumerate(zip(ud_sents_clean.drop(remove), sp_sents)):
    if fuzz.ratio(u, s)<70:
        res = 'bad'
        print(u)
        print(s)
    else: res='good'
    if streak_type!=res:
        if streak_start==i-1:
            streak_desc = f'{streak_type}: {i-1}'
        else:
            streak_desc = f'{streak_type}: {streak_start} - {i-1}'
        streak_start = i
        streak_type = res
        print (streak_desc)

streak_desc = f'{streak_type}: {streak_start} - {i-1}'
print (streak_desc)

לאחר סדרה לא קצרה של ישיבות , שבהן פרשה ה תביעה את ראיותיה , הגיעו שני ה צדדים ל הסכם : גיליון ה אישום תוקן הושמטה ממנו ה פסקה ש הזכירה את מותו של מובארק ו נקבע כי ה יריות ש ירו ה שניים לא גרמו ל סיכון חיי אדם .
לאחר סדרה לא קצרה של ישיבות , ש ב הן פרשה ה תביעה את ראיותיה , הגיעו שני ה צדדים ל הסכם : גיליון ה אישום תוקן הושמטה ממן הוא ה פסקה ש הזכירה את מותו של מובארק ו נקבע כי ה יריות ש ירו ה שניים לא גרמו ל סיכון חיי אדם .
good: 0 - 1373
bad: 1374
ח"כ ראובן ריבלין , ש התמודד על ה תפקיד , ביקש לפחות להתמנות כ חבר ב וועדת חוץ ו ביטחון , בעקבות פינוי מקום ל ה סיעה ב וועדה זו בשל פרישתו של ה ח"כ לשעבר זלמן שובל , אך ה סיעה החליטה לדחות את ה החלטה ב ה עניין .
ח"ך ראובן ריבלין , ש התמודד על ה תפקיד , ביקש לפחות להתמנות כ חבר ב וועדת חוץ ו ביטחון , בעקבות פינוי מקום ל ה סיעה ב וועדה זו בשל פרישתו של ה ח"ך לשעבר זלמן שובל , אך ה סיעה החליטה לדחות את ה החלטה ב ה עניין .
good: 1375 - 1868
bad: 1869
ועדת ה עבודה ו ה רווחה של ה כנסת ב ראשות ח"כ אורה נמיר אישרה תיקון ל חוק מד"א , ה אמור לאפשר ל ה שר להתערב ב ניהול ה שירות , אולם לחץ על יו"ר ה וועדה מצד חברים מ סיעות ה אופוזיציה שלא לתת כוח בידי ה שר אולמרט , מונע ב שלב זה העברת ה חוק ל קריאה שנייה ו שלישית ב ה מליאה .
ועדת ה עבודה ו ה רווחה של ה כנסת ב ראשות ח"ך אורה נמיר אישרה תיקון ל חוק מד"א , ה אמור לאפשר ל ה שר להתערב ב ניהול ה שירות , אולם לחץ על יו"ר ה וועדה מצד חברים מ סיעות ה אופוזיציה שלא לתת כוח בידי ה שר אולמרט , מונע ב שלב זה העברת ה חוק ל קריאה שנייה ו שלישית ב ה מליאה .
good: 1870 - 4870
bad: 4871
בניגוד ל הליך ה פרסום ה מדעי ה רגיל , שבו מפרסם חוקר ב אחד מן ה עיתונים ה מקצועיים בתחומו , הסבר מפורט של ה תהליך או ה חומר ה פעיל , דרך פעולתו ה משוערת , ו פרטי ה ניסויים וממצאיהם , החליט ברנע לתת פומבי לעבודתו באמצעות ה עיתונות ה יומית , אך לשמור את כל פרטי ה מחקר ב סודיות מירבית .
בניגוד ל הליך ה פרסום ה מדעי ה רגיל , ש ב הוא מפרסם חוקר ב אחד מן ה עיתונים ה מקצועיים ב תחומו , הסבר מפורט של ה תהליך או ה חומר ה פעיל , דרך פעולתו ה משוערת , ו פרטי ה ניסויים ו ממצאיהם , החליט ברנע לתת פומבי ל עבודתו באמצעות ה עיתונות ה יומית , אך לשמור את כל פרטי ה מחקר ב סודיות מירבית .
good: 4872 - 4940
bad: 4941
ב התייחסו ל התקפה אמריקאית אפשרית אמר משאט : " אתם מטרידים את ה בחורים שלכם על לא דבר ו ה התקפה תביא את ה עוינות של כל ה ערבים ו כל ה מוסלמים , מפני ש אתם הולכים לבצע פעולת תוקפנות נגד עיראק מ מדינה מוסלמית אחרת , מ ארץ קדושה " .
ב התייחסו ל התקפה אמריקאית אפשרית אמר משאט : " אתם מטרידים את ה בחורים של אתמ על לא דבר ו ה התקפה תביא את ה עוינות של כל ה ערבים ו כל ה מוסלמים , מפני ש אתם הולכים לבצע פעולת תוקפנות נגד עיראק מ מדינה מוסלמית אחרת , מ ארץ קדושה " .
good: 4942 - 5314
bad: 5315
good: 5316 - 6151

In [517]:
ud_sents_clean.drop(remove).iloc[5315], sp_sents.iloc[5315]

('ב התייחסו ל התקפה אמריקאית אפשרית אמר משאט : " אתם מטרידים את ה בחורים שלכם על לא דבר ו ה התקפה תביא את ה עוינות של כל ה ערבים ו כל ה מוסלמים , מפני ש אתם הולכים לבצע פעולת תוקפנות נגד עיראק מ מדינה מוסלמית אחרת , מ ארץ קדושה " .',
 'ב התייחסו ל התקפה אמריקאית אפשרית אמר משאט : " אתם מטרידים את ה בחורים של אתמ על לא דבר ו ה התקפה תביא את ה עוינות של כל ה ערבים ו כל ה מוסלמים , מפני ש אתם הולכים לבצע פעולת תוקפנות נגד עיראק מ מדינה מוסלמית אחרת , מ ארץ קדושה " .')

In [522]:
i = streak_start
ud_sents_clean.iloc[i+len(remove)-3:i+len(remove)+3]

5377    זאת בשל ה אי - ודאות לגבי יכולתה של ה ממשלה לג...
5378    כמו כן קיימת אי - בהירות לגבי סכום ה הוצאות ה ...
5379                 תקציב 1991 יגיע ל כ 70 מיליארד שקל .
5380    סעיף תקציב ה ביטחון עדיין לא סוכם , כי משרד ה ...
5381    גם ב ה לובי ה חברתי ב ה כנסת הובעה באחרונה התנ...
5382    ה דולר נחלש ב יחס ל מרבית ה מטבעות ה עיקריים ב...
dtype: object

In [523]:
sp_sents.iloc[i-3:i+3]

orig_sent
5314    ה שגריר ה עיראקי ב וואשינגטון , מוחמד צאדק אל ...
5315    ה שגריר אמר את דבריו כמה שעות לאחר הודעת ה נשי...
5316    ב התייחסו ל התקפה אמריקאית אפשרית אמר משאט : "...
5317    ב מערכת ה ביטחון הוחל ב יישום ה הגבלות על תושב...
5318    מערכת ה ביטחון העבירה ל ה משטרה רשימה של כ 2,0...
5319                        הם יקבלו תעודות זהות ירוקות .
dtype: object

In [661]:
align_map = (pd.DataFrame(list(zip(ud_sents_clean.drop(remove).index, sp_sents.index)), columns=['ud', 'spmrl'])
             .assign(shft=lambda x: x.ud.astype(int)-x.spmrl)
             .assign(shift_change = lambda x: x.shft.ne(x.shft.shift(fill_value=0) ))
             .assign(global_sent_id = lambda x: x.index+1)
            )
align_map[align_map.shift_change]

        ud  spmrl  shft  shift_change  global_sent_id
1615  1617   1616     1          True            1616
2403  2406   2404     2          True            2404
2834  2838   2835     3          True            2835
3297  3302   3298     4          True            3298
3309  3315   3310     5          True            3310
3373  3380   3374     6          True            3374
3542  3550   3543     7          True            3543
3741  3750   3742     8          True            3742
3776  3786   3777     9          True            3777
4048  4059   4049    10          True            4049
4058  4070   4059    11          True            4059
4198  4211   4199    12          True            4199
4227  4241   4228    13          True            4228
4815  4830   4816    14          True            4816
5056  5072   5057    15          True            5057
5083  5100   5084    16          True            5084
5147  5165   5148    17          True            5148
5151  5170   5152    18          True            5152
5263  5283   5264    19          True            5264
5412  5434   5413    21          True            5413
5413  5437   5414    23          True            5414
5415  5440   5416    24          True            5416
5419  5446   5420    26          True            5420
5420  5448   5421    27          True            5421
5421  5453   5422    31          True            5422
5422  5456   5423    33          True            5423
5427  5463   5428    35          True            5428
5432  5471   5433    38          True            5433
5434  5487   5435    52          True            5435
5435  5495   5436    59          True            5436
5436  5500   5437    63          True            5437

In [662]:
align_map[align_map.global_sent_id!=align_map.spmrl]

Empty DataFrame
Columns: [ud, spmrl, shft, shift_change, global_sent_id]
Index: []

### mark duplicate sentence pairs

#### UD

In [567]:
all_sim = {}
reverse_tested = {}
for i, s in ud_sents_clean.iteritems():
    similar = []
    for j, t in ud_sents_clean.drop([str(x+1) for x in range(int(i)-1)]) .iteritems():
        if len(s.split())>5 and len(t.split())>5 and abs(len(t.split())-len(s.split()))<10 and fuzz.ratio(s, t)>=70:
            similar.append(j)
    if len(similar)>1:
        print(i, similar)
    all_sim[i] = similar
    
all_sim

296 ['296', '326']
530 ['530', '554']
531 ['531', '555']
617 ['617', '861']
813 ['813', '819']
1580 ['1580', '5531']
1712 ['1712', '5817']
1913 ['1913', '2315']
1914 ['1914', '2316']
1915 ['1915', '2317']
1916 ['1916', '2318']
2106 ['2106', '2288', '2325', '2405', '3379', '3549', '3785', '4941', '5002', '5020', '5169', '5282']
2234 ['2234', '2235']
2288 ['2288', '2325', '2405', '3379', '3549', '3785', '4941', '5002', '5020', '5169', '5282']
2325 ['2325', '2405', '3379', '3549', '3785', '4941', '5002', '5020', '5169', '5282']
2405 ['2405', '3379', '3549', '3785', '4941', '5002', '5020', '5169', '5282']
2429 ['2429', '5379']
2526 ['2526', '2555', '2749', '2753']
2528 ['2528', '2555', '2749']
2529 ['2529', '2790', '2807']
2555 ['2555', '2557', '2749']
2749 ['2749', '2753']
2754 ['2754', '2786', '2804']
2799 ['2799', '2815']
3078 ['3078', '3082']
3127 ['3127', '3128']
3379 ['3379', '3549', '3785', '4941', '5002', '5020', '5169', '5282']
3549 ['3549', '3785', '4941', '5002', '5020', '5169', '5282']
3616 ['3616', '3619']
3785 ['3785', '4941', '5002', '5020', '5169', '5282']
4040 ['4040', '5564']
4126 ['4126', '5432']
4127 ['4127', '5433']
4128 ['4128', '5434']
4129 ['4129', '5435']
4130 ['4130', '5436']
4131 ['4131', '5437']
4132 ['4132', '5439']
4133 ['4133', '5440']
4134 ['4134', '5441']
4135 ['4135', '5443']
4136 ['4136', '5444']
4137 ['4137', '5445']
4138 ['4138', '5446']
4139 ['4139', '5447']
4140 ['4140', '5448']
4141 ['4141', '5449']
4142 ['4142', '5450']
4143 ['4143', '5451']
4144 ['4144', '5452']
4146 ['4146', '5454']
4147 ['4147', '5455']
4148 ['4148', '5456']
4149 ['4149', '5457']
4150 ['4150', '5458']
4151 ['4151', '5459']
4152 ['4152', '5461']
4153 ['4153', '5462']
4154 ['4154', '5463']
4155 ['4155', '5467']
4156 ['4156', '5468']
4157 ['4157', '5469']
4158 ['4158', '5470']
4160 ['4160', '5472']
4162 ['4162', '5474']
4163 ['4163', '5475']
4164 ['4164', '5476']
4166 ['4166', '5478']
4167 ['4167', '5479']
4168 ['4168', '5480']
4169 ['4169', '5481']
4170 ['4170', '5482']
4171 ['4171', '5483']
4172 ['4172', '5484']
4173 ['4173', '5485']
4174 ['4174', '5486']
4175 ['4175', '5487']
4176 ['4176', '5488']
4177 ['4177', '5489']
4178 ['4178', '5490']
4179 ['4179', '5491']
4180 ['4180', '5492']
4181 ['4181', '5493']
4182 ['4182', '5494']
4183 ['4183', '5495']
4184 ['4184', '5496']
4185 ['4185', '5497']
4186 ['4186', '5498']
4189 ['4189', '5501']
4191 ['4191', '5503']
4192 ['4192', '5504']
4193 ['4193', '5505']
4194 ['4194', '5506']
4195 ['4195', '5507']
4196 ['4196', '5508']
4197 ['4197', '5509']
4198 ['4198', '5510']
4199 ['4199', '5511']
4200 ['4200', '5512']
4201 ['4201', '5513']
4202 ['4202', '5514']
4203 ['4203', '5515']
4204 ['4204', '5516']
4205 ['4205', '5517']
4209 ['4209', '5522']
4251 ['4251', '4252']
4773 ['4773', '4774']
4828 ['4828', '4829']
4941 ['4941', '5002', '5020', '5169', '5282']
5002 ['5002', '5020', '5169', '5282']
5020 ['5020', '5169', '5282']
5169 ['5169', '5282']
5263 ['5263', '5264']
5727 ['5727', '5852']

{'1': ['1'],
 '2': ['2'],
 '3': ['3'],
 '4': ['4'],
 '5': ['5'],
 '6': ['6'],
 '7': ['7'],
 '8': ['8'],
 '9': ['9'],
 '10': ['10'],
 '11': ['11'],
 '12': ['12'],
 '13': ['13'],
 '14': ['14'],
 '15': ['15'],
 '16': ['16'],
 '17': ['17'],
 '18': ['18'],
 '19': ['19'],
 '20': ['20'],
 '21': ['21'],
 '22': ['22'],
 '23': ['23'],
 '24': ['24'],
 '25': ['25'],
 '26': ['26'],
 '27': ['27'],
 '28': ['28'],
 '29': ['29'],
 '30': ['30'],
 '31': ['31'],
 '32': ['32'],
 '33': ['33'],
 '34': ['34'],
 '35': ['35'],
 '36': ['36'],
 '37': ['37'],
 '38': ['38'],
 '39': ['39'],
 '40': ['40'],
 '41': ['41'],
 '42': ['42'],
 '43': [],
 '44': ['44'],
 '45': ['45'],
 '46': [],
 '47': ['47'],
 '48': ['48'],
 '49': ['49'],
 '50': ['50'],
 '51': ['51'],
 '52': ['52'],
 '53': ['53'],
 '54': ['54'],
 '55': ['55'],
 '56': ['56'],
 '57': ['57'],
 '58': ['58'],
 '59': ['59'],
 '60': ['60'],
 '61': [],
 '62': ['62'],
 '63': ['63'],
 '64': ['64'],
 '65': ['65'],
 '66': ['66'],
 '67': ['67'],
 '68': ['68'],
 '69': ['69'],
 '70': ['70'],
 '71': ['71'],
 '72': ['72'],
 '73': ['73'],
 '74': ['74'],
 '75': ['75'],
 '76': ['76'],
 '77': ['77'],
 '78': ['78'],
 '79': ['79'],
 '80': ['80'],
 '81': ['81'],
 '82': ['82'],
 '83': ['83'],
 '84': ['84'],
 '85': ['85'],
 '86': ['86'],
 '87': ['87'],
 '88': ['88'],
 '89': ['89'],
 '90': ['90'],
 '91': ['91'],
 '92': ['92'],
 '93': ['93'],
 '94': ['94'],
 '95': ['95'],
 '96': ['96'],
 '97': ['97'],
 '98': ['98'],
 '99': ['99'],
 '100': ['100'],
 '101': ['101'],
 '102': ['102'],
 '103': ['103'],
 '104': ['104'],
 '105': ['105'],
 '106': ['106'],
 '107': ['107'],
 '108': ['108'],
 '109': ['109'],
 '110': ['110'],
 '111': ['111'],
 '112': ['112'],
 '113': ['113'],
 '114': ['114'],
 '115': ['115'],
 '116': ['116'],
 '117': ['117'],
 '118': ['118'],
 '119': ['119'],
 '120': ['120'],
 '121': ['121'],
 '122': ['122'],
 '123': ['123'],
 '124': ['124'],
 '125': ['125'],
 '126': ['126'],
 '127': ['127'],
 '128': ['128'],
 '129': ['129'],
 '130': ['130'],
 '131': ['131'],
 '132': ['132'],
 '133': ['133'],
 '134': ['134'],
 '135': ['135'],
 '136': ['136'],
 '137': ['137'],
 '138': ['138'],
 '139': ['139'],
 '140': ['140'],
 '141': ['141'],
 '142': ['142'],
 '143': ['143'],
 '144': ['144'],
 '145': ['145'],
 '146': ['146'],
 '147': ['147'],
 '148': ['148'],
 '149': ['149'],
 '150': ['150'],
 '151': ['151'],
 '152': [],
 '153': [],
 '154': ['154'],
 '155': [],
 '156': ['156'],
 '157': ['157'],
 '158': ['158'],
 '159': ['159'],
 '160': ['160'],
 '161': ['161'],
 '162': ['162'],
 '163': ['163'],
 '164': ['164'],
 '165': ['165'],
 '166': [],
 '167': ['167'],
 '168': ['168'],
 '169': ['169'],
 '170': ['170'],
 '171': ['171'],
 '172': ['172'],
 '173': ['173'],
 '174': ['174'],
 '175': ['175'],
 '176': ['176'],
 '177': ['177'],
 '178': ['178'],
 '179': ['179'],
 '180': [],
 '181': ['181'],
 '182': ['182'],
 '183': ['183'],
 '184': ['184'],
 '185': ['185'],
 '186': ['186'],
 '187': ['187'],
 '188': ['188'],
 '189': [],
 '190': ['190'],
 '191': ['191'],
 '192': ['192'],
 '193': ['193'],
 '194': [],
 '195': ['195'],
 '196': ['196'],
 '197': ['197'],
 '198': ['198'],
 '199': ['199'],
 '200': ['200'],
 '201': ['201'],
 '202': ['202'],
 '203': ['203'],
 '204': ['204'],
 '205': ['205'],
 '206': [],
 '207': [],
 '208': ['208'],
 '209': ['209'],
 '210': ['210'],
 '211': ['211'],
 '212': ['212'],
 '213': ['213'],
 '214': ['214'],
 '215': ['215'],
 '216': ['216'],
 '217': [],
 '218': ['218'],
 '219': ['219'],
 '220': ['220'],
 '221': ['221'],
 '222': ['222'],
 '223': ['223'],
 '224': ['224'],
 '225': ['225'],
 '226': ['226'],
 '227': ['227'],
 '228': ['228'],
 '229': ['229'],
 '230': [],
 '231': ['231'],
 '232': ['232'],
 '233': ['233'],
 '234': ['234'],
 '235': ['235'],
 '236': ['236'],
 '237': ['237'],
 '238': ['238'],
 '239': ['239'],
 '240': ['240'],
 '241': ['241'],
 '242': ['242'],
 '243': ['243'],
 '244': ['244'],
 '245': ['245'],
 '246': [],
 '247': ['247'],
 '248': ['248'],
 '249': ['249'],
 '250': ['250'],
 '251': ['251'],
 '252': ['252'],
 '253': ['253'],
 '254': [],
 '255': ['255'],
 '256': ['256'],
 '257': ['257'],
 '258': ['258'],
 '259': ['259'],
 '260': ['260'],
 '261': ['261'],
 '262': ['262'],
 '263': ['263'],
 '264': ['264'],
 '265': [],
 '266': ['266'],
 '267': ['267'],
 '268': ['268'],
 '269': ['269'],
 '270': ['270'],
 '271': ['271'],
 '272': ['272'],
 '273': ['273'],
 '274': ['274'],
 '275': ['275'],
 '276': ['276'],
 '277': ['277'],
 '278': ['278'],
 '279': ['279'],
 '280': ['280'],
 '281': ['281'],
 '282': ['282'],
 '283': ['283'],
 '284': ['284'],
 '285': ['285'],
 '286': ['286'],
 '287': ['287'],
 '288': ['288'],
 '289': ['289'],
 '290': [],
 '291': ['291'],
 '292': ['292'],
 '293': ['293'],
 '294': ['294'],
 '295': ['295'],
 '296': ['296', '326'],
 '297': ['297'],
 '298': ['298'],
 '299': ['299'],
 '300': ['300'],
 '301': ['301'],
 '302': ['302'],
 '303': ['303'],
 '304': ['304'],
 '305': ['305'],
 '306': ['306'],
 '307': ['307'],
 '308': ['308'],
 '309': ['309'],
 '310': ['310'],
 '311': ['311'],
 '312': ['312'],
 '313': ['313'],
 '314': ['314'],
 '315': ['315'],
 '316': ['316'],
 '317': ['317'],
 '318': ['318'],
 '319': ['319'],
 '320': ['320'],
 '321': ['321'],
 '322': ['322'],
 '323': ['323'],
 '324': ['324'],
 '325': ['325'],
 '326': ['326'],
 '327': ['327'],
 '328': ['328'],
 '329': ['329'],
 '330': ['330'],
 '331': ['331'],
 '332': ['332'],
 '333': ['333'],
 '334': ['334'],
 '335': ['335'],
 '336': ['336'],
 '337': ['337'],
 '338': ['338'],
 '339': ['339'],
 '340': ['340'],
 '341': ['341'],
 '342': ['342'],
 '343': ['343'],
 '344': ['344'],
 '345': ['345'],
 '346': ['346'],
 '347': ['347'],
 '348': ['348'],
 '349': ['349'],
 '350': ['350'],
 '351': ['351'],
 '352': ['352'],
 '353': ['353'],
 '354': ['354'],
 '355': ['355'],
 '356': ['356'],
 '357': ['357'],
 '358': ['358'],
 '359': ['359'],
 '360': ['360'],
 '361': ['361'],
 '362': ['362'],
 '363': ['363'],
 '364': ['364'],
 '365': ['365'],
 '366': [],
 '367': ['367'],
 '368': ['368'],
 '369': ['369'],
 '370': ['370'],
 '371': ['371'],
 '372': ['372'],
 '373': ['373'],
 '374': ['374'],
 '375': ['375'],
 '376': ['376'],
 '377': ['377'],
 '378': ['378'],
 '379': ['379'],
 '380': ['380'],
 '381': ['381'],
 '382': ['382'],
 '383': ['383'],
 '384': ['384'],
 '385': ['385'],
 '386': ['386'],
 '387': ['387'],
 '388': ['388'],
 '389': ['389'],
 '390': ['390'],
 '391': ['391'],
 '392': ['392'],
 '393': ['393'],
 '394': ['394'],
 '395': ['395'],
 '396': ['396'],
 '397': ['397'],
 '398': ['398'],
 '399': ['399'],
 '400': ['400'],
 '401': ['401'],
 '402': ['402'],
 '403': ['403'],
 '404': ['404'],
 '405': ['405'],
 '406': ['406'],
 '407': ['407'],
 '408': ['408'],
 '409': ['409'],
 '410': ['410'],
 '411': ['411'],
 '412': ['412'],
 '413': ['413'],
 '414': ['414'],
 '415': ['415'],
 '416': ['416'],
 '417': ['417'],
 '418': ['418'],
 '419': ['419'],
 '420': ['420'],
 '421': ['421'],
 '422': ['422'],
 '423': [],
 '424': ['424'],
 '425': ['425'],
 '426': ['426'],
 '427': ['427'],
 '428': ['428'],
 '429': ['429'],
 '430': ['430'],
 '431': ['431'],
 '432': ['432'],
 '433': ['433'],
 '434': ['434'],
 '435': ['435'],
 '436': ['436'],
 '437': ['437'],
 '438': ['438'],
 '439': ['439'],
 '440': ['440'],
 '441': ['441'],
 '442': ['442'],
 '443': ['443'],
 '444': ['444'],
 '445': ['445'],
 '446': ['446'],
 '447': ['447'],
 '448': ['448'],
 '449': ['449'],
 '450': ['450'],
 '451': ['451'],
 '452': ['452'],
 '453': ['453'],
 '454': ['454'],
 '455': ['455'],
 '456': [],
 '457': [],
 '458': ['458'],
 '459': ['459'],
 '460': ['460'],
 '461': [],
 '462': ['462'],
 '463': ['463'],
 '464': ['464'],
 '465': ['465'],
 '466': ['466'],
 '467': ['467'],
 '468': ['468'],
 '469': ['469'],
 '470': ['470'],
 '471': ['471'],
 '472': ['472'],
 '473': [],
 '474': ['474'],
 '475': ['475'],
 '476': ['476'],
 '477': ['477'],
 '478': ['478'],
 '479': ['479'],
 '480': ['480'],
 '481': ['481'],
 '482': ['482'],
 '483': ['483'],
 '484': ['484'],
 '485': ['485'],
 '486': ['486'],
 '487': ['487'],
 '488': ['488'],
 '489': ['489'],
 '490': [],
 '491': ['491'],
 '492': ['492'],
 '493': ['493'],
 '494': ['494'],
 '495': [],
 '496': ['496'],
 '497': ['497'],
 '498': ['498'],
 '499': [],
 '500': [],
 '501': ['501'],
 '502': ['502'],
 '503': ['503'],
 '504': ['504'],
 '505': ['505'],
 '506': [],
 '507': ['507'],
 '508': ['508'],
 '509': ['509'],
 '510': ['510'],
 '511': ['511'],
 '512': ['512'],
 '513': ['513'],
 '514': ['514'],
 '515': ['515'],
 '516': ['516'],
 '517': ['517'],
 '518': ['518'],
 '519': ['519'],
 '520': ['520'],
 '521': ['521'],
 '522': ['522'],
 '523': ['523'],
 '524': ['524'],
 '525': ['525'],
 '526': ['526'],
 '527': ['527'],
 '528': [],
 '529': ['529'],
 '530': ['530', '554'],
 '531': ['531', '555'],
 '532': ['532'],
 '533': ['533'],
 '534': ['534'],
 '535': ['535'],
 '536': ['536'],
 '537': ['537'],
 '538': ['538'],
 '539': ['539'],
 '540': ['540'],
 '541': ['541'],
 '542': ['542'],
 '543': ['543'],
 '544': ['544'],
 '545': ['545'],
 '546': ['546'],
 '547': ['547'],
 '548': ['548'],
 '549': ['549'],
 '550': ['550'],
 '551': ['551'],
 '552': ['552'],
 '553': ['553'],
 '554': ['554'],
 '555': ['555'],
 '556': ['556'],
 '557': ['557'],
 '558': ['558'],
 '559': ['559'],
 '560': ['560'],
 '561': ['561'],
 '562': ['562'],
 '563': ['563'],
 '564': ['564'],
 '565': ['565'],
 '566': ['566'],
 '567': ['567'],
 '568': ['568'],
 '569': ['569'],
 '570': ['570'],
 '571': ['571'],
 '572': ['572'],
 '573': ['573'],
 '574': ['574'],
 '575': ['575'],
 '576': ['576'],
 '577': ['577'],
 '578': ['578'],
 '579': ['579'],
 '580': ['580'],
 '581': ['581'],
 '582': ['582'],
 '583': ['583'],
 '584': ['584'],
 '585': ['585'],
 '586': ['586'],
 '587': ['587'],
 '588': ['588'],
 '589': ['589'],
 '590': ['590'],
 '591': ['591'],
 '592': ['592'],
 '593': [],
 '594': [],
 '595': ['595'],
 '596': ['596'],
 '597': ['597'],
 '598': ['598'],
 '599': ['599'],
 '600': ['600'],
 '601': ['601'],
 '602': ['602'],
 '603': ['603'],
 '604': ['604'],
 '605': ['605'],
 '606': ['606'],
 '607': ['607'],
 '608': ['608'],
 '609': ['609'],
 '610': ['610'],
 '611': [],
 '612': ['612'],
 '613': ['613'],
 '614': ['614'],
 '615': ['615'],
 '616': ['616'],
 '617': ['617', '861'],
 '618': ['618'],
 '619': ['619'],
 '620': ['620'],
 '621': ['621'],
 '622': ['622'],
 '623': ['623'],
 '624': ['624'],
 '625': ['625'],
 '626': ['626'],
 '627': ['627'],
 '628': ['628'],
 '629': ['629'],
 '630': ['630'],
 '631': ['631'],
 '632': ['632'],
 '633': ['633'],
 '634': ['634'],
 '635': ['635'],
 '636': ['636'],
 '637': ['637'],
 '638': ['638'],
 '639': ['639'],
 '640': ['640'],
 '641': ['641'],
 '642': ['642'],
 '643': ['643'],
 '644': ['644'],
 '645': ['645'],
 '646': ['646'],
 '647': ['647'],
 '648': ['648'],
 '649': ['649'],
 '650': ['650'],
 '651': ['651'],
 '652': ['652'],
 '653': ['653'],
 '654': ['654'],
 '655': ['655'],
 '656': ['656'],
 '657': ['657'],
 '658': ['658'],
 '659': ['659'],
 '660': ['660'],
 '661': ['661'],
 '662': ['662'],
 '663': ['663'],
 '664': ['664'],
 '665': ['665'],
 '666': ['666'],
 '667': ['667'],
 '668': ['668'],
 '669': ['669'],
 '670': ['670'],
 '671': ['671'],
 '672': ['672'],
 '673': ['673'],
 '674': ['674'],
 '675': ['675'],
 '676': [],
 '677': ['677'],
 '678': ['678'],
 '679': ['679'],
 '680': ['680'],
 '681': ['681'],
 '682': ['682'],
 '683': ['683'],
 '684': ['684'],
 '685': ['685'],
 '686': ['686'],
 '687': ['687'],
 '688': ['688'],
 '689': ['689'],
 '690': ['690'],
 '691': ['691'],
 '692': ['692'],
 '693': ['693'],
 '694': ['694'],
 '695': ['695'],
 '696': ['696'],
 '697': ['697'],
 '698': ['698'],
 '699': ['699'],
 '700': ['700'],
 '701': ['701'],
 '702': ['702'],
 '703': ['703'],
 '704': ['704'],
 '705': ['705'],
 '706': ['706'],
 '707': ['707'],
 '708': ['708'],
 '709': ['709'],
 '710': ['710'],
 '711': ['711'],
 '712': ['712'],
 '713': ['713'],
 '714': ['714'],
 '715': ['715'],
 '716': ['716'],
 '717': ['717'],
 '718': ['718'],
 '719': ['719'],
 '720': ['720'],
 '721': ['721'],
 '722': ['722'],
 '723': ['723'],
 '724': ['724'],
 '725': ['725'],
 '726': ['726'],
 '727': ['727'],
 '728': ['728'],
 '729': ['729'],
 '730': ['730'],
 '731': ['731'],
 '732': ['732'],
 '733': ['733'],
 '734': ['734'],
 '735': ['735'],
 '736': ['736'],
 '737': ['737'],
 '738': ['738'],
 '739': ['739'],
 '740': ['740'],
 '741': ['741'],
 '742': ['742'],
 '743': ['743'],
 '744': ['744'],
 '745': ['745'],
 '746': ['746'],
 '747': ['747'],
 '748': ['748'],
 '749': ['749'],
 '750': ['750'],
 '751': ['751'],
 '752': ['752'],
 '753': ['753'],
 '754': ['754'],
 '755': ['755'],
 '756': ['756'],
 '757': ['757'],
 '758': ['758'],
 '759': ['759'],
 '760': ['760'],
 '761': ['761'],
 '762': ['762'],
 '763': ['763'],
 '764': ['764'],
 '765': ['765'],
 '766': ['766'],
 '767': ['767'],
 '768': ['768'],
 '769': ['769'],
 '770': ['770'],
 '771': ['771'],
 '772': ['772'],
 '773': ['773'],
 '774': ['774'],
 '775': ['775'],
 '776': ['776'],
 '777': ['777'],
 '778': ['778'],
 '779': [],
 '780': ['780'],
 '781': ['781'],
 '782': ['782'],
 '783': ['783'],
 '784': ['784'],
 '785': ['785'],
 '786': ['786'],
 '787': ['787'],
 '788': ['788'],
 '789': ['789'],
 '790': ['790'],
 '791': ['791'],
 '792': ['792'],
 '793': ['793'],
 '794': ['794'],
 '795': ['795'],
 '796': ['796'],
 '797': ['797'],
 '798': ['798'],
 '799': ['799'],
 '800': ['800'],
 '801': ['801'],
 '802': ['802'],
 '803': ['803'],
 '804': ['804'],
 '805': ['805'],
 '806': ['806'],
 '807': ['807'],
 '808': ['808'],
 '809': ['809'],
 '810': ['810'],
 '811': ['811'],
 '812': ['812'],
 '813': ['813', '819'],
 '814': ['814'],
 '815': ['815'],
 '816': ['816'],
 '817': ['817'],
 '818': ['818'],
 '819': ['819'],
 '820': ['820'],
 '821': ['821'],
 '822': ['822'],
 '823': ['823'],
 '824': ['824'],
 '825': ['825'],
 '826': ['826'],
 '827': ['827'],
 '828': ['828'],
 '829': ['829'],
 '830': ['830'],
 '831': ['831'],
 '832': ['832'],
 '833': ['833'],
 '834': ['834'],
 '835': ['835'],
 '836': ['836'],
 '837': ['837'],
 '838': ['838'],
 '839': ['839'],
 '840': ['840'],
 '841': ['841'],
 '842': ['842'],
 '843': ['843'],
 '844': ['844'],
 '845': ['845'],
 '846': ['846'],
 '847': ['847'],
 '848': ['848'],
 '849': ['849'],
 '850': [],
 '851': [],
 '852': ['852'],
 '853': ['853'],
 '854': ['854'],
 '855': ['855'],
 '856': ['856'],
 '857': ['857'],
 '858': ['858'],
 '859': ['859'],
 '860': ['860'],
 '861': ['861'],
 '862': ['862'],
 '863': ['863'],
 '864': ['864'],
 '865': ['865'],
 '866': ['866'],
 '867': ['867'],
 '868': ['868'],
 '869': ['869'],
 '870': ['870'],
 '871': ['871'],
 '872': ['872'],
 '873': ['873'],
 '874': ['874'],
 '875': ['875'],
 '876': ['876'],
 '877': ['877'],
 '878': ['878'],
 '879': [],
 '880': ['880'],
 '881': ['881'],
 '882': ['882'],
 '883': ['883'],
 '884': ['884'],
 '885': ['885'],
 '886': ['886'],
 '887': ['887'],
 '888': ['888'],
 '889': ['889'],
 '890': ['890'],
 '891': ['891'],
 '892': ['892'],
 '893': ['893'],
 '894': ['894'],
 '895': ['895'],
 '896': ['896'],
 '897': ['897'],
 '898': ['898'],
 '899': ['899'],
 '900': [],
 '901': ['901'],
 '902': ['902'],
 '903': ['903'],
 '904': ['904'],
 '905': ['905'],
 '906': ['906'],
 '907': ['907'],
 '908': ['908'],
 '909': ['909'],
 '910': ['910'],
 '911': ['911'],
 '912': ['912'],
 '913': ['913'],
 '914': ['914'],
 '915': ['915'],
 '916': ['916'],
 '917': ['917'],
 '918': ['918'],
 '919': ['919'],
 '920': ['920'],
 '921': ['921'],
 '922': ['922'],
 '923': ['923'],
 '924': ['924'],
 '925': ['925'],
 '926': [],
 '927': ['927'],
 '928': ['928'],
 '929': ['929'],
 '930': ['930'],
 '931': ['931'],
 '932': ['932'],
 '933': ['933'],
 '934': ['934'],
 '935': ['935'],
 '936': ['936'],
 '937': ['937'],
 '938': ['938'],
 '939': ['939'],
 '940': ['940'],
 '941': ['941'],
 '942': ['942'],
 '943': ['943'],
 '944': ['944'],
 '945': ['945'],
 '946': ['946'],
 '947': ['947'],
 '948': ['948'],
 '949': [],
 '950': ['950'],
 '951': ['951'],
 '952': ['952'],
 '953': ['953'],
 '954': ['954'],
 '955': ['955'],
 '956': ['956'],
 '957': ['957'],
 '958': ['958'],
 '959': ['959'],
 '960': [],
 '961': ['961'],
 '962': ['962'],
 '963': ['963'],
 '964': ['964'],
 '965': ['965'],
 '966': ['966'],
 '967': ['967'],
 '968': ['968'],
 '969': ['969'],
 '970': ['970'],
 '971': ['971'],
 '972': ['972'],
 '973': ['973'],
 '974': ['974'],
 '975': ['975'],
 '976': ['976'],
 '977': ['977'],
 '978': ['978'],
 '979': ['979'],
 '980': ['980'],
 '981': ['981'],
 '982': ['982'],
 '983': ['983'],
 '984': ['984'],
 '985': ['985'],
 '986': [],
 '987': ['987'],
 '988': ['988'],
 '989': ['989'],
 '990': ['990'],
 '991': ['991'],
 '992': ['992'],
 '993': ['993'],
 '994': ['994'],
 '995': ['995'],
 '996': [],
 '997': ['997'],
 '998': ['998'],
 '999': ['999'],
 '1000': ['1000'],
 ...}

In [569]:
all_sim_ud = all_sim.copy()

In [575]:
len([s  for s in all_sim_ud.values() if len(s)>1])

114

In [653]:
[s  for s in all_sim_ud.values() if len(s)>1]

[['296', '326'],
 ['530', '554'],
 ['531', '555'],
 ['617', '861'],
 ['813', '819'],
 ['1580', '5531'],
 ['1712', '5817'],
 ['1913', '2315'],
 ['1914', '2316'],
 ['1915', '2317'],
 ['1916', '2318'],
 ['2106',
  '2288',
  '2325',
  '2405',
  '3379',
  '3549',
  '3785',
  '4941',
  '5002',
  '5020',
  '5169',
  '5282'],
 ['2234', '2235'],
 ['2288',
  '2325',
  '2405',
  '3379',
  '3549',
  '3785',
  '4941',
  '5002',
  '5020',
  '5169',
  '5282'],
 ['2325',
  '2405',
  '3379',
  '3549',
  '3785',
  '4941',
  '5002',
  '5020',
  '5169',
  '5282'],
 ['2405', '3379', '3549', '3785', '4941', '5002', '5020', '5169', '5282'],
 ['2429', '5379'],
 ['2526', '2555', '2749', '2753'],
 ['2528', '2555', '2749'],
 ['2529', '2790', '2807'],
 ['2555', '2557', '2749'],
 ['2749', '2753'],
 ['2754', '2786', '2804'],
 ['2799', '2815'],
 ['3078', '3082'],
 ['3127', '3128'],
 ['3379', '3549', '3785', '4941', '5002', '5020', '5169', '5282'],
 ['3549', '3785', '4941', '5002', '5020', '5169', '5282'],
 ['3616', '3619'],
 ['3785', '4941', '5002', '5020', '5169', '5282'],
 ['4040', '5564'],
 ['4126', '5432'],
 ['4127', '5433'],
 ['4128', '5434'],
 ['4129', '5435'],
 ['4130', '5436'],
 ['4131', '5437'],
 ['4132', '5439'],
 ['4133', '5440'],
 ['4134', '5441'],
 ['4135', '5443'],
 ['4136', '5444'],
 ['4137', '5445'],
 ['4138', '5446'],
 ['4139', '5447'],
 ['4140', '5448'],
 ['4141', '5449'],
 ['4142', '5450'],
 ['4143', '5451'],
 ['4144', '5452'],
 ['4146', '5454'],
 ['4147', '5455'],
 ['4148', '5456'],
 ['4149', '5457'],
 ['4150', '5458'],
 ['4151', '5459'],
 ['4152', '5461'],
 ['4153', '5462'],
 ['4154', '5463'],
 ['4155', '5467'],
 ['4156', '5468'],
 ['4157', '5469'],
 ['4158', '5470'],
 ['4160', '5472'],
 ['4162', '5474'],
 ['4163', '5475'],
 ['4164', '5476'],
 ['4166', '5478'],
 ['4167', '5479'],
 ['4168', '5480'],
 ['4169', '5481'],
 ['4170', '5482'],
 ['4171', '5483'],
 ['4172', '5484'],
 ['4173', '5485'],
 ['4174', '5486'],
 ['4175', '5487'],
 ['4176', '5488'],
 ['4177', '5489'],
 ['4178', '5490'],
 ['4179', '5491'],
 ['4180', '5492'],
 ['4181', '5493'],
 ['4182', '5494'],
 ['4183', '5495'],
 ['4184', '5496'],
 ['4185', '5497'],
 ['4186', '5498'],
 ['4189', '5501'],
 ['4191', '5503'],
 ['4192', '5504'],
 ['4193', '5505'],
 ['4194', '5506'],
 ['4195', '5507'],
 ['4196', '5508'],
 ['4197', '5509'],
 ['4198', '5510'],
 ['4199', '5511'],
 ['4200', '5512'],
 ['4201', '5513'],
 ['4202', '5514'],
 ['4203', '5515'],
 ['4204', '5516'],
 ['4205', '5517'],
 ['4209', '5522'],
 ['4251', '4252'],
 ['4773', '4774'],
 ['4828', '4829'],
 ['4941', '5002', '5020', '5169', '5282'],
 ['5002', '5020', '5169', '5282'],
 ['5020', '5169', '5282'],
 ['5169', '5282'],
 ['5263', '5264'],
 ['5727', '5852']]

In [1536]:
all_sim_ud_full = {}
for k, v in all_sim_ud.items():
    for i in v+[k]:
        if i not in all_sim_ud_full:
            dups = set((v+[k]))
            #dups.remove(i)
            all_sim_ud_full[i] = dups
all_sim_ud_full = {k:v for k,v in all_sim_ud_full.items() if len(v)>1}

import pickle
with open('all_sim_ud.pkl', 'wb') as f:
    pickle.dump(all_sim_ud, f)

In [986]:
ud_sents_clean['530']

'אתמול הושלכו ששה בקבוקי תבערה על סיורים של צה"ל ב רפיח .'

In [987]:
ud_sents_clean['554']

'אתמול הושלכו ארבעה בקבוקי תבערה על כוחות של צה"ל ב רפיח .'

In [1549]:
dup_id = ud_sents_clean[ud_sents_clean.duplicated(keep=False)].index
done = []
for k, v in all_sim_ud_full.items():
    if k not in done and k not in dup_id:
        print (ud_sents_clean[v])
        done.extend(v)

326    בראדלי ניצח לבסוף ב הפרש של שלושה אחוזים .
296         הוא נוצח השבוע ב הפרש של שני אחוזים .
dtype: object
530    אתמול הושלכו ששה בקבוקי תבערה על סיורים של צה"...
554    אתמול הושלכו ארבעה בקבוקי תבערה על כוחות של צה...
dtype: object
555    ה בקבוקים התנפצו , אך לא גרמו ל כל נזק .
531       ה בקבוקים התנפצו , אך לא היו נפגעים .
dtype: object
861    איני יכולה שלא להתריס בפניו על משפט אחד ב קטע ...
617    ו זה מה ש מביא את שגב ל ה פסקה ה לא - תיאמן ה ...
dtype: object
819    שאלנו על ה פולנים : האם יכלו לעשות יותר מ ש עש...
813    שאלנו אותו על ה יהודים : האם יכלו לעשות יותר מ...
dtype: object
5531      פיניקס ( אי - פי ) .
1580    ניו יורק ( אי - פי ) .
dtype: object
5817    ה דראמה ה גדולה החלה 14 שניות ל ה סיום .
1712          ה דרמה הגיעה לשיאה ב דקות ה סיום .
dtype: object
2315    ה קהילה ה יהודית של יוצאי קובה ב ארה"ב מארגנת ...
1913    ה קהילה ה יהודית ה קובנית ב ארה"ב מארגנת מסע ה...
dtype: object
1914    מ דיווח ש הגיע אתמול ל משרד ה תיירות ב ירושלים...
2316    מ דיווח ש הגיע אתמול ל משרד ה תיירות ב ירושלים...
dtype: object
1915    ה ביקור מתוכנן להתקיים ב חודש מארס ה קרוב , ו ...
2317    ה ביקור מתוכנן להתקיים ב חודש מארס ה קרוב ו ית...
dtype: object
1916    במהלכו ייצאו ה משתתפים ל צעדת הזדהות עם מדינת ...
2318    ב עת ה ביקור מבקשים ה משתתפים לקיים צעדת הזדהו...
dtype: object
2325    ניו - יורק ( מיוחד ל " ה ארץ " ) .
4941        בודפשט ( מיוחד ל " ה ארץ " ) .
5002           בון ( מיוחד ל " ה ארץ " ) .
3379     ואשינגטון ( מיוחד ל " ה ארץ " ) .
3549        לונדון ( מיוחד ל " ה ארץ " ) .
5020       לוס אנגלס ( מיוחד ל " ה ארץ " )
5169     ואשינגטון ( מיוחד ל " ה ארץ " ) .
2106     ואשינגטון ( מיוחד ל " ה ארץ " ) .
3785        לונדון ( מיוחד ל " ה ארץ " ) .
2405        לונדון ( מיוחד ל " ה ארץ " ) .
2288        לונדון ( מיוחד ל " ה ארץ " ) .
5282     ואשינגטון ( מיוחד ל " ה ארץ " ) .
dtype: object
2235    רמן נידון ל 6 חודשי מאסר על - תנאי ו קנס של 1,...
2234    פורת נידון ל 01 חודשי מאסר על - תנאי ו ל קנס ש...
dtype: object
2429       תקציב 1991 דומה : 31 מיליון שקל .
5379    תקציב 1991 יגיע ל כ 70 מיליארד שקל .
dtype: object
2555    ה מאמן : אליהו עופר .
2526      ה מאמן : צבי רוזן .
2753      ה מאמן : יצחק שום .
2749    ה מאמן : אריה בזרנו .
dtype: object
2555     ה מאמן : אליהו עופר .
2528    ה מאמן : דרור בר נור .
2749     ה מאמן : אריה בזרנו .
dtype: object
2807       שפט יעקב ממן , 052 צופים , ב לזרוס חולון .
2790    שפט יעקב בן - חמו , 0001 צופים , ב פתח תקוה .
2529         שפט יעקב שיינר , 3,000 צופים , ב חולון .
dtype: object
2555    ה מאמן : אליהו עופר .
2557      ה מאמן : זאב זלצר .
2749    ה מאמן : אריה בזרנו .
dtype: object
2754    שפט עובדיה בן יצחק , 6,000 צופים , ב בלומפילד .
2786            שפט עובדיה צבי , 0007 צופים , ב אשדוד .
2804            שפט שלמה שחר , 003 צופים , ב בלומפילד .
dtype: object
2799    שפט אריה וולף , 1,000 צופים , ב יבנה .
2815     שפט מאיר ברקו , 051 צופים , ב נתניה .
dtype: object
3078    הם שולחים את ה בנות ה מרדניות ל טורקיה כדי להש...
3082    הוא עמד לקחת את בנותיו ב מכונית ל טורקיה כדי ל...
dtype: object
3128    על אריזה אחרת סומן ב אנגלית : ( חלב כחוש מפוסט...
3127    על ה אריזה סומן ב אנגלית : ( חלב כחוש בחלקו ) ...
dtype: object
3616    מקרנים חשמליים מ 57 עד 701 ש"ח .
3619        מפזרי חום מ 521 עד 772 ש"ח .
dtype: object
5564    מזרח סעודיה ( ע"ר ) .
4040      " ניקוסיה ( ע"ר ) .
dtype: object
4127    סרגיי דוברוביצקי , רופא קרדיולוג בעל ותק של 11...
5433    סרגיי דוברוביצקי , רופא קרדיולוג בעל ותק של 11...
dtype: object
5434    בני משפחת דוברוביצקי זכו למצות עד תום את מושג ...
4128    בני משפחת דוברובינצקי זכו למצות עד תום את מושג...
dtype: object
5435    ל ישראל הם הגיעו ב 28 ב מאי , ו ב יום ה מחרת כ...
4129    ל ישראל הם הגיעו ב ה 28 ב מאי , ו ב יום ה מחרת...
dtype: object
4131    ב כך היו ל שלושה מבין כ 1,800 ה עולים ה עושים ...
5437    ב כך היו ל שלושה מבין כ 1,008 ה עולים ה עושים ...
dtype: object
4132    ב ה דיון ש התקיים לא מ כבר ב ה מכון ון - ליר ב...
5439    ב דיון ש התקיים לא מ כבר ב מכון ון - ליר ב נוש...
dtype: object
5440    " מה ש סיפק ב ה עבר את ה דלק ל ה קיבוצים הן ה ...
4133    " מה ש נתן את ה דלק ל ה קיבוצים הן ה משימות ה ...
dtype: object
5441    גם עתה יכול ה קיבוץ להפיק מ קליטת ה עלייה תועל...
4134    ה קיבוץ יכול להפיק מ קליטת ה עלייה תועלת חברתי...
dtype: object
5443    יתר ה דוברים ב ה דיון , נציגי ה תנועות ה קיבוצ...
4135    יתר ה דוברים ב ה דיון , נציגי ה תנועות ה קיבוצ...
dtype: object
4137    ה מדובר ב תוכנית חצי - שנתית , שבמסגרתה לומדים...
5445    ה מדובר ב תוכנית חצי - שנתית , שבמסגרתה לומדים...
dtype: object
5446    ה תמורה ה כספית ( 1,053 שקל ל חודש ל משפחה בת ...
4138    ה תמורה ה כספית ( 1,350 שקל ל חודש ל משפחה בת ...
dtype: object
5448    כל שעת עבודה נוספת , ב שכר של ששה שקלים ל שעה ...
4140    כל שעת עבודה נוספת , ב שכר של ששה שקלים ל שעה ...
dtype: object
4146    ה הסכמים ה דרושים נחתמו , ו 1,800 עולים עושים ...
5454    ה הסכמים ה דרושים נחתמו , ו 1,008 עולים עושים ...
dtype: object
4147    איש אינו יודע עדיין כמה מהם אם בכלל יישארו ב ה...
5455    איש אינו יודע עדיין כמה מהם אם בכלל יישארו ב ה...
dtype: object
5456    ה שידוך ה זה ש בין ה עולים מ בריה"ם ל ה קיבוצי...
4148    ל ה שידוך ה זה ש בין ה עולים מ בריה"ם ל ה קיבו...
dtype: object
4149    ה עולים מ בריה"ם נושאים עמם עולם דימויים עוין ...
5457    ה עולים נושאים עמם עולם דימויים עוין כלפי ה קי...
dtype: object
4150    עולה צעיר בעל השקפה ימנית ו אנטי - סובייטית חר...
5458    עולה צעיר בעל השקפה ימנית ו אנטי - סובייטית חר...
dtype: object
4151    יש ה אומרים כי ה עולים מ בריה"ם שונאים כל דבר ...
5459    יש גם ה מתבדחים כי ה עולים מ בריה"ם שונאים כל ...
dtype: object
4154    רק אחרי חודשיים נוספים הם מבינים ש הוא ב כל זא...
5463    רק אחרי חודשיים נוספים הם מבינים ש הוא כן קולח...
dtype: object
4155    עולים רבים מ מזרח אירופה רואים את ה קיבוץ כ כפ...
5467    אולם בעיקר רואים עולים רבים מ מזרח אירופה את ה...
dtype: object
5472    אחרי שבוע הם באו ל משרד ה קליטה ו חיפשו מרכז ק...
4160    אחרי שבוע באו ל משרד ה קליטה ו חיפשו מרכז קליטה .
dtype: object
5483     היא בת עיר מובהקת ו מחכה לחזור לשם .
4171    היא בת עיר מובהקת ו מחכה לחזור ל שם .
dtype: object
5487    ה אב , אריק , מהנדס מכונות עתיר ניסיון ; ה אם ...
4175    ה אב , אריק , מהנדס מכונות עתיר ניסיון ; ה אם ...
dtype: object
5492    " ה בעיה ב קיבוץ היא ש אין בעיה " , אומר אריק ...
4180    " ה בעיה ב ה קיבוץ היא ש אין בעיה " , אומר ארי...
dtype: object
5493    אני חושב ש הרבה אנשים ש לא רוצים קונפליקט ב ה ...
4181    אני חושב ש הרבה אנשים ש לא רוצים קונפליקט ב ה ...
dtype: object
5495    ה בן איליה מוסיף : " ב ה קיבוץ לא יודעים כמה ע...
4183    ה בן איליה : " ב ה קיבוץ לא יודעים כמה עולה או...
dtype: object
5503    אומר מזכיר התק"ם , מוקי צור : החלטנו מראש ש צר...
4191    מזכיר ה תק"ם , מוקי צור : החלטנו מראש ש צריך ל...
dtype: object
5504    לא ייתכן ש עולה יבוא ל ה קיבוץ כפי ש הוא מגיע ...
4192    לא ייתכן ש עולה יבוא ל ה קיבוץ כמו ש הוא מגיע ...
dtype: object
5505    לא ייתכן ש הוא יירד מן ה מטוס ו ינחת על ה דשא ...
4193    לא הסכמנו ש הוא יירד מן ה מטוס ו ישימו אותו על...
dtype: object
5506    לכן קבענו עיקרון ש צריכה להיות שיחה מוקדמת בין...
4194    לכן קבענו עיקרון ש צריכה להיות שיחה מוקדמת בין...
dtype: object
4203    ה חשש הוא ש שוב נגיע ל ה תחושה ש נקלוט ו נקלוט...
5515    " ה חשש הוא ש שוב נגיע ל ה תחושה ש נקלוט ו נקל...
dtype: object
4205                   מי ש יקצור מוקדם יישאר עם מעט .
5517    " מי ש יקצור מוקדם יישאר עם מעט " , הוא אומר .
dtype: object
4252    עתה עלינו לשנן כי ארוכה היא עדיין ארגעה , אך ע...
4251    עם חלב אמנו למדנו כי ארוכה ו מתמשכת היא ארגעה ...
dtype: object
4773    אולי אין גם הכרח ב ה היערכות מחדש ב יהודה , שו...
4774            ב ה היערכות מחדש ב יהודה , שומרון ו עזה .
dtype: object
5264    נאשם נוסף סמל ראשון אלי שוקרון , ש הורשע ו ניד...
5263    סמל גדי גנבה ש הורשע ו נידון ל עונש מאסר על תנ...
dtype: object
5852          ב ה דקה ה - 7 היה שיוויון 14 14 .
5727    ב ה דקה ה - 37 היה יתרון ה גליל 91 81 .
dtype: object

#### SPMRL

In [570]:
sp_sents.head()

orig_sent
1    עשרות אנשים מגיעים מ תאילנד ל ישראל כש הם נרשמ...
2    תופעה זו התבררה אתמול ב וועדת ה עבודה ו ה רווח...
3    יו"ר ה וועדה , ח"ך אורה נמיר ( מערך ) , טענה כ...
4    מ צד אחד רוצה ה אוצר להוריד את שכר ה מינימום ,...
5    נמיר הודיעה כי תפנה ל שרי ה פנים ו ה עבודה ו ה...
dtype: object

In [ ]:
all_sim_spmrl = {}
reverse_tested = {}
for i, s in sp_sents.iteritems():
    similar = []
    for j, t in sp_sents.drop([x+1 for x in range(int(i)-1)]) .iteritems():
        if len(s.split())>5 and len(t.split())>5 and abs(len(t.split())-len(s.split()))<10 and fuzz.ratio(s, t)>=70:
            similar.append(j)
    if len(similar)>1:
        print(i, similar)
    all_sim_spmrl[i] = similar
    
all_sim_spmrl

In [ ]:
len([s  for s in all_sim_spmrl.values() if len(s)>1])

with open('align/all_sim_spmrl.pkl', 'wb') as f:
    pickle.dump(all_sim_spmrl, f)

In [1541]:
with open('align/all_sim_spmrl.pkl', 'rb') as f:
    all_sim_spmrl = pickle.load(f)

In [1542]:
all_sim_sp_full = {}
for k, v in all_sim_spmrl.items():
    for i in v+[k]:
        if i not in all_sim_sp_full:
            dups = set((v+[k]))
            #dups.remove(i)
            all_sim_sp_full[i] = dups
all_sim_sp_full = {k:v for k,v in all_sim_sp_full.items() if len(v)>1}

In [1551]:
dup_id_sp = sp_sents[sp_sents.duplicated(keep=False)].index
done_sp = []
for k, v in all_sim_sp_full.items():
    if k not in done_sp and k not in dup_id_sp:
        print (sp_sents.loc[v])
        done_sp.extend(v)

orig_sent
296         הוא נוצח השבוע ב הפרש של שני אחוזים .
326    בראדלי ניצח לבסוף ב הפרש של שלושה אחוזים .
dtype: object
orig_sent
530    אתמול הושלכו ששה בקבוקי תבערה על סיורים של צה"...
554    אתמול הושלכו ארבעה בקבוקי תבערה על כוחות של צה...
dtype: object
orig_sent
555    ה בקבוקים התנפצו , אך לא גרמו ל כל נזק .
531       ה בקבוקים התנפצו , אך לא היו נפגעים .
dtype: object
orig_sent
617    ו זה מה ש מביא את שגב ל ה פסקה ה לא - תיאמן ה ...
861    איני יכולה שלא להתריס ב פניו על משפט אחד ב קטע...
dtype: object
orig_sent
819    שאלנו על ה פולנים : האם יכלו לעשות יותר מ ש עש...
813    שאלנו את הוא על ה יהודים : האם יכלו לעשות יותר...
dtype: object
orig_sent
1580    ניו יורק ( אי - פי ) .
5468      פיניקס ( אי - פי ) .
dtype: object
orig_sent
1912    ה קהילה ה יהודית ה קובנית ב ארה"ב מארגנת מסע ה...
2314    ה קהילה ה יהודית של יוצאי קובה ב ארה"ב מארגנת ...
dtype: object
orig_sent
1913    מ דיווח ש הגיע אתמול ל משרד ה תיירות ב ירושלים...
2315    מ דיווח ש הגיע אתמול ל משרד ה תיירות ב ירושלים...
dtype: object
orig_sent
1914    ה ביקור מתוכנן להתקיים ב חודש מארס ה קרוב , ו ...
2316    ה ביקור מתוכנן להתקיים ב חודש מארס ה קרוב ו ית...
dtype: object
orig_sent
1915    ב מהלכו ייצאו ה משתתפים ל צעדת הזדהות עם מדינת...
2317    ב עת ה ביקור מבקשים ה משתתפים לקיים צעדת הזדהו...
dtype: object
orig_sent
5006       לוס אנגלס ( מיוחד ל " ה ארץ " )
2287        לונדון ( מיוחד ל " ה ארץ " ) .
2324    ניו - יורק ( מיוחד ל " ה ארץ " ) .
2105     ואשינגטון ( מיוחד ל " ה ארץ " ) .
4988           בון ( מיוחד ל " ה ארץ " ) .
4927        בודפשט ( מיוחד ל " ה ארץ " ) .
dtype: object
orig_sent
2233    פורת נידון ל 01 חודשי מאסר על - תנאי ו ל קנס ש...
2234    רמן נידון ל 6 חודשי מאסר על - תנאי ו קנס של 1,...
dtype: object
orig_sent
5360    תקציב 1991 יגיע ל כ 70 מיליארד שקל .
2427       תקציב 1991 דומה : 31 מיליון שקל .
dtype: object
orig_sent
2553    ה מאמן : אליהו עופר .
2747    ה מאמן : אריה בזרנו .
2524      ה מאמן : צבי רוזן .
2751      ה מאמן : יצחק שום .
dtype: object
orig_sent
2553     ה מאמן : אליהו עופר .
2747     ה מאמן : אריה בזרנו .
2526    ה מאמן : דרור בר נור .
dtype: object
orig_sent
2788    שפט יעקב בן - חמו , 0001 צופים , ב פתח תקוה .
2805       שפט יעקב ממן , 052 צופים , ב לזרוס חולון .
2527         שפט יעקב שיינר , 3,000 צופים , ב חולון .
dtype: object
orig_sent
2553    ה מאמן : אליהו עופר .
2555      ה מאמן : זאב זלצר .
2747    ה מאמן : אריה בזרנו .
dtype: object
orig_sent
2752    שפט עובדיה בן יצחק , 6,000 צופים , ב בלומפילד .
2802            שפט שלמה שחר , 003 צופים , ב בלומפילד .
2784            שפט עובדיה צבי , 0007 צופים , ב אשדוד .
dtype: object
orig_sent
2813     שפט מאיר ברקו , 051 צופים , ב נתניה .
2797    שפט אריה וולף , 1,000 צופים , ב יבנה .
dtype: object
orig_sent
3075    הם שולחים את ה בנות ה מרדניות ל טורקיה כדי להש...
3079    הוא עמד לקחת את בנותיו ב מכונית ל טורקיה כדי ל...
dtype: object
orig_sent
3124    על ה אריזה סומן ב אנגלית : ( חלב כחוש ב חלקו )...
3125    על אריזה אחרת סומן ב אנגלית : ( חלב כחוש מפוסט...
dtype: object
orig_sent
3609    מקרנים חשמליים מ 57 עד 701 ש"ח .
3612        מפזרי חום מ 521 עד 772 ש"ח .
dtype: object
orig_sent
5501    מזרח סעודיה ( ע"ר ) .
4031      " ניקוסיה ( ע"ר ) .
dtype: object
orig_sent
5413    בני משפחת דוברוביצקי זכו למצות עד תום את מושג ...
4117    בני משפחת דוברובינצקי זכו למצות עד תום את מושג...
dtype: object
orig_sent
4120    ב כך היו ל שלושה מבין כ 1,800 ה עולים ה עושים ...
5414    ב כך היו ל שלושה מבין כ 1,008 ה עולים ה עושים ...
dtype: object
orig_sent
5416    " מה ש סיפק ב ה עבר את ה דלק ל ה קיבוצים הן ה ...
4122    " מה ש נתן את ה דלק ל ה קיבוצים הן ה משימות ה ...
dtype: object
orig_sent
5417    גם עתה יכול ה קיבוץ להפיק מ קליטת ה עלייה תועל...
4123    ה קיבוץ יכול להפיק מ קליטת ה עלייה תועלת חברתי...
dtype: object
orig_sent
5419    יתר ה דוברים ב ה דיון , נציגי ה תנועות ה קיבוצ...
4124    יתר ה דוברים ב ה דיון , נציגי ה תנועות ה קיבוצ...
dtype: object
orig_sent
5420    ה תמורה ה כספית ( 1,053 שקל ל חודש ל משפחה בת ...
4127    ה תמורה ה כספית ( 1,350 שקל ל חודש ל משפחה בת ...
dtype: object
orig_sent
4129    כל שעת עבודה נוספת , ב שכר של ששה שקלים ל שעה ...
5421    כל שעת עבודה נוספת , ב שכר של ששה שקלים ל שעה ...
dtype: object
orig_sent
4137    ל ה שידוך ה זה ש בין ה עולים מ בריה"ם ל ה קיבו...
5423    ה שידוך ה זה ש בין ה עולים מ בריה"ם ל ה קיבוצי...
dtype: object
orig_sent
5424    ה עולים נושאים עם הם עולם דימויים עוין כלפי ה ...
4138    ה עולים מ בריה"ם נושאים עם הם עולם דימויים עוי...
dtype: object
orig_sent
5425    עולה צעיר בעל השקפה ימנית ו אנטי - סובייטית חר...
4139    עולה צעיר בעל השקפה ימנית ו אנטי - סובייטית חר...
dtype: object
orig_sent
5426    יש גם ה מתבדחים כי ה עולים מ בריה"ם שונאים כל ...
4140    יש ה אומרים כי ה עולים מ בריה"ם שונאים כל דבר ...
dtype: object
orig_sent
5428    רק אחרי חודשיים נוספים הם מבינים ש הוא כן קולח...
4143    רק אחרי חודשיים נוספים הם מבינים ש הוא ב כל זא...
dtype: object
orig_sent
4144    עולים רבים מ מזרח אירופה רואים את ה קיבוץ כ כפ...
5432    אולם בעיקר רואים עולים רבים מ מזרח אירופה את ה...
dtype: object
orig_sent
5434    אחרי שבוע הם באו ל משרד ה קליטה ו חיפשו מרכז ק...
4149    אחרי שבוע באו ל משרד ה קליטה ו חיפשו מרכז קליטה .
dtype: object
orig_sent
5435    ה אב , אריק , מהנדס מכונות עתיר ניסיון ; ה אם ...
4164    ה אב , אריק , מהנדס מכונות עתיר ניסיון ; ה אם ...
dtype: object
orig_sent
4172    ה בן איליה : " ב ה קיבוץ לא יודעים כמה עולה או...
5436    ה בן איליה מוסיף : " ב ה קיבוץ לא יודעים כמה ע...
dtype: object
orig_sent
5440    אומר מזכיר התק"ם , מוקי צור : החלטנו מראש ש צר...
4180    מזכיר ה תק"ם , מוקי צור : החלטנו מראש ש צריך ל...
dtype: object
orig_sent
5441    לא ייתכן ש עולה יבוא ל ה קיבוץ כפי ש הוא מגיע ...
4181    לא ייתכן ש עולה יבוא ל ה קיבוץ כמו ש הוא מגיע ...
dtype: object
orig_sent
5442    לא ייתכן ש הוא יירד מן ה מטוס ו ינחת על ה דשא ...
4182    לא הסכמנו ש הוא יירד מן ה מטוס ו ישימו את הוא ...
dtype: object
orig_sent
5443    לכן קבענו עיקרון ש צריכה להיות שיחה מוקדמת בין...
4183    לכן קבענו עיקרון ש צריכה להיות שיחה מוקדמת בין...
dtype: object
orig_sent
4187    מחקרים אחרונים של ה מחלקה ל התיישבות מלמדים כי...
5447    מחקרים אחרונים של ה מחלקה ל התיישבות מלמדים כי...
dtype: object
orig_sent
4192    ה חשש הוא ש שוב נגיע ל ה תחושה ש נקלוט ו נקלוט...
5452    " ה חשש הוא ש שוב נגיע ל ה תחושה ש נקלוט ו נקל...
dtype: object
orig_sent
4194                   מי ש יקצור מוקדם יישאר עם מעט .
5454    " מי ש יקצור מוקדם יישאר עם מעט " , הוא אומר .
dtype: object
orig_sent
4238    עם חלב אמנו למדנו כי ארוכה ו מתמשכת היא ארגעה ...
4239    עתה עלי אנחנו לשנן כי ארוכה היא עדיין ארגעה , ...
dtype: object
orig_sent
4760    אולי אין גם הכרח ב ה היערכות מחדש ב יהודה , שו...
4761            ב ה היערכות מחדש ב יהודה , שומרון ו עזה .
dtype: object
orig_sent
5245    סמל גדי גנבה ש הורשע ו נידון ל עונש מאסר על תנ...
5246    נאשם נוסף סמל ראשון אלי שוקרון , ש הורשע ו ניד...
dtype: object
orig_sent
5664    ב ה דקה ה - 37 היה יתרון ה גליל 91 81 .
5789          ב ה דקה ה - 7 היה שיוויון 14 14 .
dtype: object

In [1554]:
align_map.head()

  ud  spmrl  shft  shift_change  global_sent_id
0  1      1     0         False               1
1  2      2     0         False               2
2  3      3     0         False               3
3  4      4     0         False               4
4  5      5     0         False               5

In [1560]:
print(list(filter(lambda x: x != 3, {1,2,3})))

[1, 2]

In [1567]:
def filter_sets_dict(sd):
    return {k: set(filter(lambda x: x!=k, v)) for k,v in sd.items()}
all_sim_sp_full_drop_own = filter_sets_dict(all_sim_sp_full)
all_sim_ud_full_drop_own = filter_sets_dict(all_sim_ud_full)

In [1568]:
sentence_align_map = align_map.copy()
sentence_align_map['spmrl_very_similar'] = sentence_align_map.spmrl.map(all_sim_sp_full_drop_own)
sentence_align_map['ud_very_similar'] = sentence_align_map.ud.map(all_sim_ud_full_drop_own)
sentence_align_map.head()

,ud,spmrl,shft,shift_change,global_sent_id,spmrl_very_similar,ud_very_similar
0,1,1,0,False,1,NaN,NaN
1,2,2,0,False,2,NaN,NaN
2,3,3,0,False,3,NaN,NaN
3,4,4,0,False,4,NaN,NaN
4,5,5,0,False,5,NaN,NaN

In [1587]:
def get_dup_sets(sents):
    return [x for x in list(sents.groupby(sents).apply(lambda x: set(x.index))) if len(x)>1]

def get_dup_map(sents):
    dup_sets = get_dup_sets(sents)
    dup_map = {}
    for s in dup_sets:
        for e in s:
            dup_map[e] = s
    return filter_sets_dict(dup_map)

sp_dup_map = get_dup_map(sp_sents)
ud_dup_map = get_dup_map(ud_sents_clean)

In [1588]:
sentence_align_map['spmrl_duplicates'] = sentence_align_map.spmrl.map(sp_dup_map)
sentence_align_map['ud_duplicates'] = sentence_align_map.ud.map(ud_dup_map)

In [1589]:
sentence_align_map[(~sentence_align_map.ud_duplicates.isna())]

,ud,spmrl,shft,shift_change,global_sent_id,spmrl_very_similar,ud_very_similar,spmrl_duplicates,ud_duplicates
610,611,611,0,False,611,NaN,NaN,NaN,{2837}
948,949,949,0,False,949,NaN,NaN,NaN,{4058}
1596,1597,1597,0,False,1597,NaN,NaN,NaN,{1616}
1670,1672,1671,1,False,1671,NaN,NaN,NaN,{5164}
2104,2106,2105,1,False,2105,"{5006, 2287, 2324, 4988, 4927}","{2325, 4941, 5002, 3379, 3549, 5020, 5169, 378...",NaN,"{5169, 3379, 5282}"
2227,2229,2228,1,False,2228,NaN,NaN,NaN,"{3314, 5071, 3749, 5099, 4210}"
2286,2288,2287,1,False,2287,"{5006, 2324, 2105, 4988, 4927}","{2325, 4941, 5002, 3379, 3549, 5020, 5169, 210...",NaN,"{3785, 3549, 2405}"
3295,3299,3296,3,False,3296,NaN,NaN,NaN,"{4069, 3301}"
4114,4126,4115,11,False,4115,NaN,{5432},NaN,{5432}
4118,4130,4119,11,False,4119,NaN,{5436},NaN,{5436}
4124,4136,4125,11,False,4125,NaN,{5444},NaN,{5444}
4127,4139,4128,11,False,4128,NaN,{5447},NaN,{5447}
4129,4141,4130,11,False,4130,NaN,{5449},NaN,{5449}
4130,4142,4131,11,False,4131,NaN,{5450},NaN,{5450}
4131,4143,4132,11,False,4132,NaN,{5451},NaN,{5451}
4132,4144,4133,11,False,4133,NaN,{5452},NaN,{5452}
4140,4152,4141,11,False,4141,NaN,{5461},NaN,{5461}
4141,4153,4142,11,False,4142,NaN,{5462},NaN,{5462}
4144,4156,4145,11,False,4145,NaN,{5468},NaN,{5468}
4145,4157,4146,11,False,4146,NaN,{5469},NaN,{5469}
4146,4158,4147,11,False,4147,NaN,{5470},NaN,{5470}
4149,4161,4150,11,False,4150,NaN,NaN,NaN,{5473}
4150,4162,4151,11,False,4151,NaN,{5474},NaN,{5474}
4151,4163,4152,11,False,4152,NaN,{5475},NaN,{5475}
4152,4164,4153,11,False,4153,NaN,{5476},NaN,{5476}
4153,4165,4154,11,False,4154,NaN,NaN,NaN,{5477}
4154,4166,4155,11,False,4155,NaN,{5478},NaN,{5478}
4155,4167,4156,11,False,4156,NaN,{5479},NaN,{5479}
4156,4168,4157,11,False,4157,NaN,{5480},NaN,{5480}
4157,4169,4158,11,False,4158,NaN,{5481},NaN,{5481}
...,...,...,...,...,...,...,...,...,...
4167,4179,4168,11,False,4168,NaN,{5491},NaN,{5491}
4170,4182,4171,11,False,4171,NaN,{5494},NaN,{5494}
4172,4184,4173,11,False,4173,NaN,{5496},NaN,{5496}
4173,4185,4174,11,False,4174,NaN,{5497},NaN,{5497}
4174,4186,4175,11,False,4175,NaN,{5498},NaN,{5498}
4175,4187,4176,11,False,4176,NaN,NaN,NaN,{5499}
4177,4189,4178,11,False,4178,{5438},{5501},{5438},{5501}
4183,4195,4184,11,False,4184,{5444},{5507},{5444},{5507}
4184,4196,4185,11,False,4185,{5445},{5508},{5445},{5508}
4185,4197,4186,11,False,4186,{5446},{5509},{5446},{5509}
4186,4198,4187,11,False,4187,{5447},{5510},NaN,{5510}
4187,4199,4188,11,False,4188,{5448},{5511},{5448},{5511}
4188,4200,4189,11,False,4189,{5449},{5512},{5449},{5512}
4189,4201,4190,11,False,4190,{5450},{5513},{5450},{5513}
4190,4202,4191,11,False,4191,{5451},{5514},{5451},{5514}
4192,4204,4193,11,False,4193,{5453},{5516},{5453},{5516}
4197,4209,4198,11,False,4198,{5459},{5522},{5459},{5522}
4225,4238,4226,12,False,4226,NaN,NaN,NaN,{4240}
4814,4828,4815,13,False,4815,NaN,{4829},NaN,{4829}
5437,5501,5438,63,False,5438,{4178},{4189},{4178},{4189}
5443,5507,5444,63,False,5444,{4184},{4195},{4184},{4195}
5444,5508,5445,63,False,5445,{4185},{4196},{4185},{4196}
5445,5509,5446,63,False,5446,{4186},{4197},{4186},{4197}
5446,5510,5447,63,False,5447,{4187},{4198},NaN,{4198}
5447,5511,5448,63,False,5448,{4188},{4199},{4188},{4199}
5448,5512,5449,63,False,5449,{4189},{4200},{4189},{4200}
5449,5513,5450,63,False,5450,{4190},{4201},{4190},{4201}
5450,5514,5451,63,False,5451,{4191},{4202},{4191},{4202}
5452,5516,5453,63,False,5453,{4193},{4204},{4193},{4204}
5458,5522,5459,63,False,5459,{4198},{4209},{4198},{4209}

In [1591]:
sentence_align_map.to_csv('align/sentence_align_map.csv', header=True, index=False)

## 2. Align tokens to morphemes in SPMRL & UD

### SPMRL

1. Use gold lattices

In [838]:
def read_lattices(path):
    df = (pd.read_csv(path, sep='\t', header=None, quoting=3, 
                names = ['ID1', 'ID2', 'FORM', 'LEMMA', 'UPOS', 'XPOS', 'FEATS', 'TOKEN'])
                # add sentence labels
                .assign(sent = lambda x: (x.ID1==0).cumsum())
               )
    return df

In [839]:
sp_test = read_lattices('hebtb_spmrl/test_hebtb-gold.lattices')
sp_dev = read_lattices('hebtb_spmrl/dev_hebtb-gold.lattices')
sp_train = read_lattices('hebtb_spmrl/train_hebtb-gold.lattices')
sp_dev.sent.nunique(), sp_train.sent.nunique(), sp_test.sent.nunique()

(500, 4937, 716)

In [840]:
sp_dev['orig_sent'] = sp_dev.sent

sp_train['orig_sent'] = sp_train.sent + 500
sp_test['orig_sent'] = sp_test.sent + 500 + 4937

sp_dev.orig_sent.min(), sp_dev.orig_sent.max(), sp_train.orig_sent.min(), sp_train.orig_sent.max(), sp_test.orig_sent.min(), sp_test.orig_sent.max()

(1, 500, 501, 5437, 5438, 6153)

In [841]:
sp_lattices = pd.concat([sp_dev, sp_train, sp_test])
sp_lattices.head()

,ID1,ID2,FORM,LEMMA,UPOS,XPOS,FEATS,TOKEN,sent,orig_sent
0,0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,1
1,1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,1
2,2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,3,1,1
3,3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,1
4,4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,1

In [842]:
def read_tokens(path):
    toks = []
    curr_sent=1
    curr_tok=1
    with open(path, 'r', encoding='utf8') as f:
        for token in f:
            if(token=='\n'):
                curr_sent+=1
                curr_tok=1
            else:
                toks.append((curr_sent, curr_tok, token.strip()))
                curr_tok+=1
            
    toks = pd.DataFrame(toks, columns=['sent', 'TOKEN', 'token_str'])
    return toks

dev_tok = read_tokens('hebtb_spmrl/dev_hebtb-tokens.txt')
train_tok = read_tokens('hebtb_spmrl/train_hebtb-tokens.txt')
test_tok = read_tokens('hebtb_spmrl/test_hebtb-tokens.txt')
dev_tok.sent.nunique(), train_tok.sent.nunique(), test_tok.sent.nunique()

(500, 4937, 716)

In [843]:
dev_tok['orig_sent'] = dev_tok.sent

train_tok['orig_sent'] = train_tok.sent + 500
test_tok['orig_sent'] = test_tok.sent + 500 + 4937

dev_tok.orig_sent.min(), dev_tok.orig_sent.max(), train_tok.orig_sent.min(), train_tok.orig_sent.max(), test_tok.orig_sent.min(), test_tok.orig_sent.max()

(1, 500, 501, 5437, 5438, 6153)

In [844]:
sp_tokens = pd.concat([dev_tok, train_tok, test_tok])
sp_tokens.head()

   sent  TOKEN token_str  orig_sent
0     1      1     עשרות          1
1     1      2     אנשים          1
2     1      3    מגיעים          1
3     1      4   מתאילנד          1
4     1      5    לישראל          1

In [845]:
sp_lattices = sp_lattices.merge(sp_tokens[['orig_sent', 'TOKEN', 'token_str']], how='left')
sp_lattices.head()

,ID1,ID2,FORM,LEMMA,UPOS,XPOS,FEATS,TOKEN,sent,orig_sent,token_str
0,0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,1,עשרות
1,1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,1,אנשים
2,2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,3,1,1,מגיעים
3,3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,1,מתאילנד
4,4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,1,מתאילנד

### UD

In [1068]:
list(ud_dev[0])[:5]

[OrderedDict([('id', 1),
              ('form', 'עשרות'),
              ('lemma', 'עשרות'),
              ('upostag', 'NUM'),
              ('xpostag', 'NUM'),
              ('feats',
               OrderedDict([('Definite', 'Cons'),
                            ('Gender', 'Fem'),
                            ('Number', 'Plur')])),
              ('head', 2),
              ('deprel', 'nummod'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', 2),
              ('form', 'אנשים'),
              ('lemma', 'איש'),
              ('upostag', 'NOUN'),
              ('xpostag', 'NOUN'),
              ('feats', OrderedDict([('Gender', 'Masc'), ('Number', 'Plur')])),
              ('head', 3),
              ('deprel', 'nsubj'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', 3),
              ('form', 'מגיעים'),
              ('lemma', 'הגיע'),
              ('upostag', 'VERB'),
              ('xpostag', 'VERB'),
              ('feats',
               OrderedDict([('Gender', 'Masc'),
                            ('HebBinyan', 'HIFIL'),
                            ('Number', 'Plur'),
                            ('Person', '1,2,3'),
                            ('VerbForm', 'Part'),
                            ('Voice', 'Act')])),
              ('head', 0),
              ('deprel', 'root'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', (4, '-', 5)),
              ('form', 'מתאילנד'),
              ('lemma', '_'),
              ('upostag', '_'),
              ('xpostag', None),
              ('feats', None),
              ('head', None),
              ('deprel', '_'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', 4),
              ('form', 'מ'),
              ('lemma', 'מ'),
              ('upostag', 'ADP'),
              ('xpostag', 'ADP'),
              ('feats', None),
              ('head', 5),
              ('deprel', 'case'),
              ('deps', None),
              ('misc', None)])]

In [847]:
from collections import OrderedDict
def get_conllu_token_morpheme_alignment(tl):
    mt_align = []
    segmented = False
    sent_id = tl.metadata['sent_id']
    tok_id=0
    for t in tl:
        morph_id = t['id']
        if type(morph_id) is tuple:
            segmented=True
            segmented_up_to = morph_id[2]
            token = t['form']
            tok_id+=1
        else:
            if segmented and morph_id>segmented_up_to:
                segmented=False
                token = t['form']
            if not segmented:
                tok_id+=1
                token = t['form']
            mt_align.append((sent_id, morph_id, t['form'], tok_id, token))

    return pd.DataFrame(mt_align, columns=['sent', 'morph_id', 'form', 'TOKEN', 'token_str'])

get_conllu_token_morpheme_alignment(ud_dev[0])
ud_tokens = [get_conllu_token_morpheme_alignment(tl) for tl in ud_dev] + [get_conllu_token_morpheme_alignment(tl) for tl in ud_train] + [get_conllu_token_morpheme_alignment(tl) for tl in ud_test]
ud_tokens = pd.concat(ud_tokens).rename(columns={'sent': 'orig_sent'})
ud_tokens.head(10)

  orig_sent  morph_id    form  TOKEN token_str
0         1         1   עשרות      1     עשרות
1         1         2   אנשים      2     אנשים
2         1         3  מגיעים      3    מגיעים
3         1         4       מ      4   מתאילנד
4         1         5  תאילנד      4   מתאילנד
5         1         6       ל      5    לישראל
6         1         7   ישראל      5    לישראל
7         1         8      כש      6      כשהם
8         1         9      הם      6      כשהם
9         1        10  נרשמים      7    נרשמים

In [848]:
ud_tokens_only = ud_tokens[['orig_sent', 'TOKEN', 'token_str']].drop_duplicates().reset_index().drop('index', axis=1)
ud_tokens_only.head()

  orig_sent  TOKEN token_str
0         1      1     עשרות
1         1      2     אנשים
2         1      3    מגיעים
3         1      4   מתאילנד
4         1      5    לישראל

## 2.5. Check tokens align: SPMRL <--> UD

In [849]:
ud_tokens_only['global_sent_id'] = ud_tokens_only.orig_sent.map(align_map.set_index('ud').global_sent_id)
sp_tokens['global_sent_id'] = sp_tokens.orig_sent.map(align_map.set_index('spmrl').global_sent_id)

In [850]:
ud_tokens_only.shape

(115535, 4)

In [851]:
ud_tokens_only[~ud_tokens_only.global_sent_id.isna()].shape

(114776, 4)

In [852]:
sp_tokens.shape

(114776, 5)

In [853]:
sp_for_compare = sp_tokens[['orig_sent', 'TOKEN', 'token_str']].reset_index().drop('index', axis=1)
sp_for_compare.index

RangeIndex(start=0, stop=114776, step=1)

In [854]:
ud_for_compare = ud_tokens_only[~ud_tokens_only.global_sent_id.isna()][['orig_sent', 'TOKEN', 'token_str']].reset_index().drop('index', axis=1)
ud_for_compare.index

RangeIndex(start=0, stop=114776, step=1)

In [855]:
ne = (ud_for_compare != sp_for_compare).any(1)
ne[~ne]

Series([], dtype: bool)

## 3. Align Morphemes: SPMRL <--> UD

### Check segmentation diff

In [856]:
def get_forms(g):
    return pd.Series({'forms': ' '.join(g.form), 'count':len(g)})

In [897]:
sp_for_compare = (sp_lattices
                  .rename(columns={'FORM':'form'})
                  .groupby(['orig_sent', 'TOKEN', 'token_str'])
                  .apply(get_forms)
                  .reset_index())
sp_for_compare.head()

   orig_sent  TOKEN token_str     forms  count
0          1      1     עשרות     עשרות      1
1          1      2     אנשים     אנשים      1
2          1      3    מגיעים    מגיעים      1
3          1      4   מתאילנד  מ תאילנד      2
4          1      5    לישראל   ל ישראל      2

In [898]:
ud_for_compare = (ud_tokens
                  .assign(orig_sent=lambda x: x.orig_sent.astype(int))
                  .groupby(['orig_sent', 'TOKEN', 'token_str'])
                  .apply(get_forms)
                  .reset_index())
ud_for_compare.head()

   orig_sent  TOKEN token_str     forms  count
0          1      1     עשרות     עשרות      1
1          1      2     אנשים     אנשים      1
2          1      3    מגיעים    מגיעים      1
3          1      4   מתאילנד  מ תאילנד      2
4          1      5    לישראל   ל ישראל      2

In [899]:
ud_for_compare_stripped = ud_for_compare.assign(forms = forms.str.replace('_', ''))

In [900]:
ud_for_compare['global_sent_id'] = (ud_for_compare.orig_sent
                                    .map(align_map
                                         .assign(ud=lambda x: x.ud.astype(int))
                                         .set_index('ud').global_sent_id)
                                   )
sp_for_compare['global_sent_id'] = (sp_for_compare.orig_sent
                                    .map(align_map
                                         .set_index('spmrl').global_sent_id))

In [901]:
ud_for_compare = ud_for_compare[~ud_for_compare.global_sent_id.isna()].reset_index().drop(['index', 'orig_sent'], axis=1).assign(global_sent_id=lambda x: x.global_sent_id.astype(int))
sp_for_compare = sp_for_compare.drop('orig_sent', axis=1)

In [917]:
ud_for_compare['global_sent_id_token'] = (ud_for_compare.global_sent_id.astype(str) 
                                          + '_' 
                                          + ud_for_compare.TOKEN.astype(str))
ud_for_compare = (ud_for_compare.set_index('global_sent_id_token')
                  .drop(['global_sent_id', 'TOKEN'], axis=1))
ud_for_compare.head()

                     token_str     forms  count
global_sent_id_token
1_1                      עשרות     עשרות      1
1_2                      אנשים     אנשים      1
1_3                     מגיעים    מגיעים      1
1_4                    מתאילנד  מ תאילנד      2
1_5                     לישראל   ל ישראל      2

In [918]:
sp_for_compare['global_sent_id_token'] = sp_for_compare.global_sent_id.astype(str) + '_' + sp_for_compare.TOKEN.astype(str)
sp_for_compare = (sp_for_compare.set_index('global_sent_id_token')
                  .drop(['global_sent_id', 'TOKEN'], axis=1))
sp_for_compare.head()

                     token_str     forms  count
global_sent_id_token
1_1                      עשרות     עשרות      1
1_2                      אנשים     אנשים      1
1_3                     מגיעים    מגיעים      1
1_4                    מתאילנד  מ תאילנד      2
1_5                     לישראל   ל ישראל      2

In [919]:
ne = (ud_for_compare != sp_for_compare).any(1)
ne[ne].shape

(7377,)

In [920]:
ne[~ne].shape

(107399,)

In [921]:
df1=sp_for_compare
df2=ud_for_compare

In [922]:
ne_stacked = (df1 != df2).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'col']
changed.head()

id    col
3_4   forms    True
3_28  forms    True
5_16  forms    True
      count    True
6_17  forms    True
dtype: bool

In [923]:
difference_locations = np.where(df1 != df2)
changed_from = df1.values[difference_locations]
changed_to = df2.values[difference_locations]
diffs = pd.DataFrame({'sp': changed_from, 'ud': changed_to}, index=changed.index).reset_index()
diffs.col.value_counts()

forms        7377
count        2553
token_str      51
Name: col, dtype: int64

In [924]:
seg_diffs = diffs[diffs.col=='count']
seg_diffs[seg_diffs.ud<seg_diffs.sp]

           id    col sp ud
6932  4136_15  count  3  2

In [932]:
diffs[diffs.col=='forms'].to_csv('ud_spmrl_token_forms_diff.csv', index=False)
diffs[diffs.col=='forms'].head()

     id    col          sp               ud
0   3_4  forms         ח"ך              ח"כ
1  3_28  forms        ל המ           ל_ _הם
2  5_16  forms      הזמנתם  הזמנה_ _של_ _הם
4  6_17  forms  ל ה עובדים      ל ה_ עובדים
5  8_20  forms       ל היא          ל_ _היא

In [926]:
diffs[diffs.col=='token_str']

           id        col    sp     ud
748     535_2  token_str  דווח  דוווח
2582  1391_32  token_str   ח"ך    ח"כ
2958   1587_5  token_str    89    001
2960   1587_6  token_str   100     98
2962  1587_18  token_str    83    011
2964  1587_19  token_str   110     38
3480  1867_15  token_str   ח"ך    ח"כ
3489   1870_1  token_str   ח"ך    ח"כ
3499  1871_24  token_str   ח"ך    ח"כ
3501   1872_1  token_str   ח"ך    ח"כ
3508   1874_6  token_str   ח"ך    ח"כ
3520   1878_6  token_str   ח"ך    ח"כ
3995   2153_1  token_str   ח"ך    ח"כ
4010  2158_19  token_str     7    5.1
4013  2159_15  token_str   ח"ך    ח"כ
4019   2160_6  token_str     6    5.1
4037   2172_1  token_str   ח"ך    ח"כ
4041   2176_1  token_str   ח"ך    ח"כ
4079  2208_24  token_str   ח"ך    ח"כ
4091   2218_8  token_str  96.4   4.69
4093  2218_12  token_str  36.4   4.63
4095  2218_16  token_str  01.3   3.10
4097  2218_20  token_str  92.2   2.29
4099  2218_24  token_str  85.2   2.58
5026  2964_12  token_str     6    5.0
5624   3306_5  token_str   ח"ך    ח"כ
5859   3423_5  token_str   ח"ך    ח"כ
6537  3876_10  token_str   ח"ך    ח"כ
6551   3883_8  token_str   ח"ך    ח"כ
6553  3883_21  token_str   ח"ך    ח"כ
6558  3885_19  token_str   ח"ך    ח"כ
7352   4442_9  token_str  5.63   63.5
7667  4596_11  token_str   ח"ך    ח"כ
7719   4630_5  token_str  5.22   22.5
7732  4636_18  token_str  8.35   53.8
7734  4636_31  token_str  3.23   32.3
8095   4821_2  token_str   ח"ך    ח"כ
8121   4829_8  token_str   ח"ך    ח"כ
8188   4872_7  token_str   ח"ך    ח"כ
8192   4875_4  token_str   ח"ך    ח"כ
8194   4876_1  token_str   ח"ך    ח"כ
8202   4878_6  token_str   ח"ך    ח"כ
8206   4880_1  token_str   ח"ך    ח"כ
8377   4982_7  token_str   ח"ך    ח"כ
8379   4983_1  token_str   ח"ך    ח"כ
8383   4984_1  token_str   ח"ך    ח"כ
8386   4985_5  token_str   ח"ך    ח"כ
8467   5020_9  token_str     3    2.1
8708   5179_1  token_str   ח"ך    ח"כ
8712   5180_1  token_str   ח"ך    ח"כ
8993  5368_20  token_str     8    7.0

In [928]:
sp_for_compare.loc['4136_15']

token_str       בהסכם
forms        ב ה הסכם
count               3
Name: 4136_15, dtype: object

In [930]:
ud_for_compare.loc['4136_15']

token_str     בהסכם
forms        ב הסכם
count             2
Name: 4136_15, dtype: object

#### Morpheme alignment

In [1017]:
def get_forms_sp(g):
    return pd.Series({'forms': ' '.join(g.form), 'count':len(g), 'morph_ids': list(g.ID2)})
def get_forms_ud(g):
    return pd.Series({'forms': ' '.join(g.form), 'count':len(g), 'morph_ids': list(g.morph_id)})

In [1043]:
sp_for_compare = (sp_lattices
                  .rename(columns={'FORM':'form'})
                  .groupby(['orig_sent', 'TOKEN', 'token_str'])
                  .apply(get_forms_sp)
                  .reset_index())
sp_for_compare.head()

   orig_sent  TOKEN token_str     forms  count morph_ids
0          1      1     עשרות     עשרות      1       [1]
1          1      2     אנשים     אנשים      1       [2]
2          1      3    מגיעים    מגיעים      1       [3]
3          1      4   מתאילנד  מ תאילנד      2    [4, 5]
4          1      5    לישראל   ל ישראל      2    [6, 7]

In [1044]:
ud_for_compare = (ud_tokens
                  .assign(orig_sent=lambda x: x.orig_sent.astype(int))
                  .groupby(['orig_sent', 'TOKEN', 'token_str'])
                  .apply(get_forms_ud)
                  .reset_index())
ud_for_compare.head()

   orig_sent  TOKEN token_str     forms  count morph_ids
0          1      1     עשרות     עשרות      1       [1]
1          1      2     אנשים     אנשים      1       [2]
2          1      3    מגיעים    מגיעים      1       [3]
3          1      4   מתאילנד  מ תאילנד      2    [4, 5]
4          1      5    לישראל   ל ישראל      2    [6, 7]

In [1045]:
ud_for_compare_stripped = ud_for_compare.assign(forms = lambda x: x.forms.str.replace('_', ''))

In [1046]:
ud_for_compare['global_sent_id'] = (ud_for_compare.orig_sent
                                    .map(align_map
                                         .assign(ud=lambda x: x.ud.astype(int))
                                         .set_index('ud').global_sent_id)
                                   )
sp_for_compare['global_sent_id'] = (sp_for_compare.orig_sent
                                    .map(align_map
                                         .set_index('spmrl').global_sent_id))

In [1047]:
ud_for_compare = ud_for_compare[~ud_for_compare.global_sent_id.isna()].reset_index().drop(['index'], axis=1).assign(global_sent_id=lambda x: x.global_sent_id.astype(int))

In [1048]:
sp_for_compare = sp_for_compare

In [1049]:
sp_for_compare.head()

   orig_sent  TOKEN token_str     forms  count morph_ids  global_sent_id
0          1      1     עשרות     עשרות      1       [1]               1
1          1      2     אנשים     אנשים      1       [2]               1
2          1      3    מגיעים    מגיעים      1       [3]               1
3          1      4   מתאילנד  מ תאילנד      2    [4, 5]               1
4          1      5    לישראל   ל ישראל      2    [6, 7]               1

## TODO
Alignment
1. ~~Morpheme aligment output~~
1. ~~Binyanim~~
1. ~~BIOSE~~
    1. ~~Evaluate BIOSE~~
1. ~~Fix SPMRL Tokens~~
    1. ~~Change only strings, not segmentation (DONT TOUCH TREE)~~
1. ~~Mark duplicates~~
1. ~~Write CoNLLU~~
1. missing misc/feats from tokens in UD (SpaceAfter)
1. Add text metadata
1. Add duplicate metadata
1. Write function for tag transfer pre-check (using POS dictionary and token_morpheme_id)
1. Document all changes (including
1. Output all sentences with digits (pre and post fixes)

Wikipedia
1. Check different tokenization
1. Run MILA / Add regular expressions

## Morpheme aligment output

In [1410]:
align_df = pd.concat([sp_for_compare[['global_sent_id', 'TOKEN']], sp_for_compare[['orig_sent', 'token_str', 'forms', 'morph_ids', 'count']], ud_for_compare[['orig_sent', 'token_str', 'forms', 'morph_ids', 'count']]], 
                     keys=['global', 'sp', 'ud'], axis=1)
#align_df[['global_sent_id', 'token_id']] = align_df.global_sent_id_token.str.split('_', expand=True)
#flatten
align_df.columns = ['_'.join(col).strip() for col in align_df.columns.values]
align_df.head()

,global_global_sent_id,global_TOKEN,sp_orig_sent,sp_token_str,sp_forms,sp_morph_ids,sp_count,ud_orig_sent,ud_token_str,ud_forms,ud_morph_ids,ud_count
0,1,1,1,עשרות,עשרות,[1],1,1,עשרות,עשרות,[1],1
1,1,2,1,אנשים,אנשים,[2],1,1,אנשים,אנשים,[2],1
2,1,3,1,מגיעים,מגיעים,[3],1,1,מגיעים,מגיעים,[3],1
3,1,4,1,מתאילנד,מ תאילנד,"[4, 5]",2,1,מתאילנד,מ תאילנד,"[4, 5]",2
4,1,5,1,לישראל,ל ישראל,"[6, 7]",2,1,לישראל,ל ישראל,"[6, 7]",2

In [1411]:
align_df.to_csv('align/token_morpheme_alignment_spmrl_ud.csv', index=False)

## Create standard UD and SPMRL DFs

### UD

In [1180]:
ud_dev[0][0]

OrderedDict([('id', 1),
             ('form', 'עשרות'),
             ('lemma', 'עשרות'),
             ('upostag', 'NUM'),
             ('xpostag', 'NUM'),
             ('feats',
              OrderedDict([('Definite', 'Cons'),
                           ('Gender', 'Fem'),
                           ('Number', 'Plur')])),
             ('head', 2),
             ('deprel', 'nummod'),
             ('deps', None),
             ('misc', None)])

In [1181]:
from collections import OrderedDict
def get_conllu_df(cu):
    sents = []
    for sentence in cu:
        tokens = []
        sent_id = sentence.metadata['sent_id']
        #text = sentence.metadata['text']
        for token in sentence:
            if type(token['id'])==int:
                tok = OrderedDict()
                tok['sent_id'] = sent_id
                #tok['text'] = text
                tok.update(token)
                tokens.append(tok)
        sents.extend(tokens)
    return pd.DataFrame(sents)
uddf = (pd.concat([get_conllu_df(ud_dev),
                   get_conllu_df(ud_train),
                   get_conllu_df(ud_test)], axis=0) 
        .merge(align_map[['global_sent_id', 'ud']].rename(columns={'ud': 'sent_id'}), how='inner')
        .merge(ud_tokens[['orig_sent', 'morph_id', 'TOKEN', 'token_str']].rename(columns={'morph_id': 'id', 'TOKEN': 'token_id', 'orig_sent': 'sent_id'}), how='left' )
       )
uddf.tail()

,sent_id,id,form,lemma,upostag,xpostag,feats,head,deprel,deps,misc,global_sent_id,token_id,token_str
160374,6216,5,אך,אך,CCONJ,CCONJ,None,6,cc,None,None,6153,4,אך
160375,6216,6,לא,לא,ADV,ADV,{'Polarity': 'Neg'},4,conj,None,None,6153,5,לא
160376,6216,7,ה,ה,DET,DET,{'PronType': 'Art'},8,det:def,None,None,6153,6,התרופה
160377,6216,8,תרופה,תרופה,NOUN,NOUN,"{'Gender': 'Fem', 'HebSource': 'ConvUncertainH...",6,dep,None,None,6153,6,התרופה
160378,6216,9,.,.,PUNCT,PUNCT,None,4,punct,None,None,6153,7,.

In [1182]:
uddf['token_morph_id'] = uddf.id - uddf.groupby(['global_sent_id', 'token_id'])['id'].transform(min)
uddf.head()

,sent_id,id,form,lemma,upostag,xpostag,feats,head,deprel,deps,misc,global_sent_id,token_id,token_str,token_morph_id
0,1,1,עשרות,עשרות,NUM,NUM,"{'Definite': 'Cons', 'Gender': 'Fem', 'Number'...",2,nummod,None,None,1,1,עשרות,0
1,1,2,אנשים,איש,NOUN,NOUN,"{'Gender': 'Masc', 'Number': 'Plur'}",3,nsubj,None,None,1,2,אנשים,0
2,1,3,מגיעים,הגיע,VERB,VERB,"{'Gender': 'Masc', 'HebBinyan': 'HIFIL', 'Numb...",0,root,None,None,1,3,מגיעים,0
3,1,4,מ,מ,ADP,ADP,None,5,case,None,None,1,4,מתאילנד,0
4,1,5,תאילנד,תאילנד,PROPN,PROPN,None,3,obl,None,None,1,4,מתאילנד,1

### SPMRL

In [1183]:
sp_lattices.head()

,ID1,ID2,FORM,LEMMA,UPOS,XPOS,FEATS,TOKEN,sent,orig_sent,token_str
0,0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,1,עשרות
1,1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,1,אנשים
2,2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,3,1,1,מגיעים
3,3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,1,מתאילנד
4,4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,1,מתאילנד

In [1215]:
spdf = (sp_lattices
        .merge(align_map[['global_sent_id', 'spmrl']].rename(columns={'spmrl': 'orig_sent'}))
        .rename(columns={'orig_sent': 'sent_id', 'TOKEN': 'token_id', 
                         'orig_sent': 'sent_id', 'ID2': 'id', 'UPOS': 'upostag',
                         'XPOS': 'xpostag', 'FORM': 'form', 'LEMMA': 'lemma', 
                         'FEATS': 'feats'})
        .drop(['sent', 'ID1'], axis=1)
       )
spdf.head()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,עשרות,1
1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,אנשים,1
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,3,1,מגיעים,1
3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,מתאילנד,1
4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,מתאילנד,1

In [1216]:
spdf.tail()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id
155325,5,אך,אך,CC,CC,_,4,6153,אך,6153
155326,6,לא,לא,RB,RB,_,5,6153,לא,6153
155327,7,ה,ה,DEF,DEF,_,6,6153,התרופה,6153
155328,8,תרופה,תרופה,NN,NN,gen=F|num=S,6,6153,התרופה,6153
155329,9,.,_,yyDOT,yyDOT,_,7,6153,.,6153

In [1217]:
spdf['token_morph_id'] = spdf.id - spdf.groupby(['global_sent_id', 'token_id'])['id'].transform(min)
spdf.head()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,עשרות,1,0
1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,אנשים,1,0
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,3,1,מגיעים,1,0
3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,מתאילנד,1,0
4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,מתאילנד,1,1

## Make fixes and move HebBinyan

In [1187]:
uddf['binyan'] = uddf.feats.apply(lambda x: x.get('HebBinyan', '---') if x is not None else '---')

In [1188]:
ud_bin_pos = (uddf.groupby(['global_sent_id', 'token_id'])
              .apply(lambda x: pd.Series({'pos':'|'.join(x.upostag),
                                          'binyan': '|'.join(x.binyan),
                                          'binyan_exists': (x.binyan!='---').any(),
                                          'num_morph': x.shape[0]}))
             )

In [1189]:
ud_bin_pos.head()

                               pos   binyan  binyan_exists  num_morph
global_sent_id token_id
1              1               NUM      ---          False          1
               2              NOUN      ---          False          1
               3              VERB    HIFIL           True          1
               4         ADP|PROPN  ---|---          False          2
               5         ADP|PROPN  ---|---          False          2

In [1190]:
ud_bin_pos.num_morph.value_counts()

1    77951
2    29537
3     5905
4     1278
5      103
6        2
Name: num_morph, dtype: int64

In [1191]:
ud_bin_pos[(ud_bin_pos.num_morph>1) & (ud_bin_pos.binyan_exists)].pos.value_counts()

SCONJ|VERB          1843
CCONJ|VERB           714
DET|VERB             144
ADP|VERB              68
VERB|ADP|PRON         35
ADP|DET|VERB          26
CCONJ|DET|VERB         7
CCONJ|ADP|VERB         5
CCONJ|SCONJ|VERB       3
SCONJ|DET|VERB         3
CCONJ|PUNCT|VERB       2
SCONJ|ADP|VERB         1
Name: pos, dtype: int64

In [1192]:
sp_pos = (spdf.groupby(['global_sent_id', 'token_id'])
              .apply(lambda x: pd.Series({'pos':'|'.join(x.upostag),
                                          'num_morph': x.shape[0]}))
             )
sp_pos.head()

                                     pos  num_morph
global_sent_id token_id
1              1                     CDT          1
               2                      NN          1
               3                      BN          1
               4         PREPOSITION|NNP          2
               5         PREPOSITION|NNP          2

In [1193]:
tok_pos_merge = pd.concat([sp_pos, ud_bin_pos], axis=1, keys=['spmrl', 'ud'])
tok_pos_merge.columns = ['_'.join(col).strip() for col in tok_pos_merge.columns.values]

tok_pos_merge.head()

                               spmrl_pos  spmrl_num_morph     ud_pos  \
global_sent_id token_id
1              1                     CDT                1        NUM
               2                      NN                1       NOUN
               3                      BN                1       VERB
               4         PREPOSITION|NNP                2  ADP|PROPN
               5         PREPOSITION|NNP                2  ADP|PROPN

                        ud_binyan  ud_binyan_exists  ud_num_morph
global_sent_id token_id
1              1              ---             False             1
               2              ---             False             1
               3            HIFIL              True             1
               4          ---|---             False             2
               5          ---|---             False             2

In [1194]:
(tok_pos_merge[(tok_pos_merge.spmrl_num_morph>1) & (tok_pos_merge.ud_binyan_exists)]
 .groupby(['spmrl_pos', 'ud_pos']).size().sort_values(ascending=False)
         )

spmrl_pos             ud_pos
REL|VB                SCONJ|VERB          1040
REL|BN                SCONJ|VERB           763
CONJ|VB               CCONJ|VERB           516
CONJ|BN               CCONJ|VERB           192
DEF|BN                DET|VERB             144
TEMP|VB               SCONJ|VERB            30
PREPOSITION|BN        ADP|VERB              28
PREPOSITION|VB        ADP|VERB              27
PREPOSITION|DEF|BN    ADP|DET|VERB          26
VB|AT|S_PRN           VERB|ADP|PRON         26
PREPOSITION|BNT       ADP|VERB              13
TEMP|BN               SCONJ|VERB             8
CONJ|DEF|BN           CCONJ|DET|VERB         7
CONJ|BNT              CCONJ|VERB             6
VB|AT|S_ANP           VERB|ADP|PRON          3
VB|POS|S_PRN          VERB|ADP|PRON          3
VB|DUMMY_AT|S_ANP     VERB|ADP|PRON          2
CONJ|yyQUOT|VB        CCONJ|PUNCT|VERB       2
CONJ|TEMP|VB          CCONJ|ADP|VERB         2
CONJ|REL|VB           CCONJ|SCONJ|VERB       2
TEMP|DEF|BN           SCONJ|DET|VERB         2
REL|BNT               SCONJ|VERB             2
VB|AT|PRP             VERB|ADP|PRON          1
REL|DEF|BN            SCONJ|DET|VERB         1
CONJ|TEMP|BN          CCONJ|ADP|VERB         1
CONJ|REL|BN           CCONJ|SCONJ|VERB       1
CONJ|PREPOSITION|BNT  CCONJ|ADP|VERB         1
CONJ|PREPOSITION|BN   CCONJ|ADP|VERB         1
REL|PREPOSITION|BN    SCONJ|ADP|VERB         1
dtype: int64

In [1218]:
spdf = spdf.merge(uddf[['global_sent_id', 'token_id', 'token_morph_id', 'binyan']], how='left')
spdf['binyan'] = spdf.binyan.fillna('---')
spdf.head()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,עשרות,1,0,---
1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,אנשים,1,0,---
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,3,1,מגיעים,1,0,HIFIL
3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,מתאילנד,1,0,---
4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,מתאילנד,1,1,---

In [1593]:
spdf.loc[spdf.binyan!='---', 'feats'] = spdf.feats+'|HebBinyan='+spdf.binyan
spdf.head()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,עשרות,1,0,---,O,0,_
1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,אנשים,1,0,---,O,0,_
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A|HebBinyan=HIFIL,3,1,מגיעים,1,0,HIFIL,O,0,_
3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,מתאילנד,1,0,---,O,0,_
4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,מתאילנד,1,1,---,S-GPE,1,GPE

## Move NER to SPMRL

In [1467]:
def get_orig_sent(s):
    start = int(s.split('-')[0].split('_')[1])
    sent = int(s.split('.')[1].split('_')[1])
    orig_sent = start+sent-1
    return orig_sent

ner = (pd.read_csv('data/curation.csv.gz')
        .assign(sent=lambda x: x.file+'_'+x.sent.astype(str))
        .assign(sent_id = lambda x: x.sent.apply(get_orig_sent).astype(str))
        .assign(id = lambda x: x.sent_tok_num.str.split('-', expand=True)[1].astype(int))
        .merge(align_map[['global_sent_id', 'ud']].rename(columns={'ud': 'sent_id'}), how='inner')
        .merge(ud_tokens[['orig_sent', 'morph_id', 'TOKEN', 'token_str']]
               .rename(columns={'morph_id': 'id', 'TOKEN': 'token_id', 'orig_sent': 'sent_id'}), how='left' )
        )
ner['token_morph_id'] = ner.id - ner.groupby(['global_sent_id', 'token_id'])['id'].transform(min)
ner.head()

,sent_tok_num,tok_offset,token,FEAT_gender,FEAT_number,FEAT_case,FEAT_degree,FEAT_transitivity,FEAT_tense,FEAT_mood,...,ner_type,is_ner,biose,file,sent_id,id,global_sent_id,token_id,token_str,token_morph_id
0,1-1,0-5,עשרות,Fem,Plur,*,*,*,*,*,...,_,False,O,dev_1-100.tsv,1,1,1,1,עשרות,0
1,1-2,6-11,אנשים,Masc,Plur,*,*,*,*,*,...,_,False,O,dev_1-100.tsv,1,2,1,2,אנשים,0
2,1-3,12-18,מגיעים,Masc,Plur,*,*,*,*,*,...,_,False,O,dev_1-100.tsv,1,3,1,3,מגיעים,0
3,1-4,19-20,מ,_,_,_,_,_,_,_,...,_,False,O,dev_1-100.tsv,1,4,1,4,מתאילנד,0
4,1-5,21-27,תאילנד,_,_,_,_,_,_,_,...,GPE,True,S-GPE,dev_1-100.tsv,1,5,1,4,מתאילנד,1

In [1468]:
ner.head().T

,0,1,2,3,4
sent_tok_num,1-1,1-2,1-3,1-4,1-5
tok_offset,0-5,6-11,12-18,19-20,21-27
token,עשרות,אנשים,מגיעים,מ,תאילנד
FEAT_gender,Fem,Masc,Masc,_,_
FEAT_number,Plur,Plur,Plur,_,_
FEAT_case,*,*,*,_,_
FEAT_degree,*,*,*,_,_
FEAT_transitivity,*,*,*,_,_
FEAT_tense,*,*,*,_,_
FEAT_mood,*,*,*,_,_
FEAT_voice,*,*,Act,_,_
FEAT_definiteness,*,*,*,_,_
FEAT_value,Definite=Cons\|Gender=Fem\|Number=Plur,Gender=Masc\|Number=Plur,Gender=Masc\|HebBinyan=HIFIL\|Number=Plur\|Per...,_,_
FEAT_person,*,*,"1,2,3",_,_
FEAT_aspect,*,*,*,_,_
pos,NUM,NOUN,VERB,ADP,PROPN
ner,_,_,_,_,GPE
lemma,עשרות,איש,הגיע,מ,תאילנד
surface_form,_,_,_,מתאילנד[84],מתאילנד[84]
dep_type,nummod,nsubj,root,case,obl
dep_flavor,basic,basic,basic,basic,basic
dep_lex_morph_pos,1-2,1-3,1-3,1-5,1-3
dep_arc,NaN,NaN,NaN,NaN,NaN
EXTRA,NaN,NaN,NaN,NaN,NaN
sent,dev_1-100.tsv_1,dev_1-100.tsv_1,dev_1-100.tsv_1,dev_1-100.tsv_1,dev_1-100.tsv_1
ner_layers,0,0,0,0,1
ner_type,_,_,_,_,GPE
is_ner,False,False,False,False,True
biose,O,O,O,O,S-GPE
file,dev_1-100.tsv,dev_1-100.tsv,dev_1-100.tsv,dev_1-100.tsv,dev_1-100.tsv
sent_id,1,1,1,1,1
id,1,2,3,4,5
global_sent_id,1,1,1,1,1
token_id,1,2,3,4,4
token_str,עשרות,אנשים,מגיעים,מתאילנד,מתאילנד
token_morph_id,0,0,0,0,1

In [1469]:
spdf = (spdf.merge(ner[['global_sent_id', 'token_id', 'token_morph_id', 'biose', 'ner', 'ner_layers']], how='left')
       )

In [1470]:
spdf.groupby(['global_sent_id', 'token_id']).id.nunique().value_counts()

1    79287
2    30614
3     4687
4      186
5        2
Name: id, dtype: int64

In [1471]:
spdf.token_morph_id.value_counts()

0    114776
1     35489
2      4875
3       188
4         2
Name: token_morph_id, dtype: int64

In [1472]:
spdf['biose'] = spdf.biose.fillna('O')
spdf['ner_layers'] = spdf.ner_layers.fillna(0).astype(int)
spdf['ner'] = spdf.ner.fillna('_')

In [1473]:
spdf[['global_sent_id', 'token_id','token_morph_id', 'biose', 'token_str', 'form']].to_csv('data/spdf.csv', index=False)
ner[['global_sent_id', 'token_id','token_morph_id', 'biose', 'token_str', 'token']].to_csv('data/ner.csv', index=False)

In [1474]:
uddf = (uddf.merge(ner[['global_sent_id', 'token_id', 'token_morph_id', 'biose', 'ner', 'ner_layers']], how='left')
       )
uddf['biose'] = uddf.biose.fillna('O')
uddf['ner_layers'] = uddf.ner_layers.fillna(0).astype(int)
uddf['ner'] = uddf.ner.fillna('_')

In [1475]:
uddf.head()

,sent_id,id,form,lemma,upostag,xpostag,feats,head,deprel,deps,misc,global_sent_id,token_id,token_str,token_morph_id,binyan,biose,ner,ner_layers
0,1,1,עשרות,עשרות,NUM,NUM,"{'Definite': 'Cons', 'Gender': 'Fem', 'Number'...",2,nummod,None,None,1,1,עשרות,0,---,O,_,0
1,1,2,אנשים,איש,NOUN,NOUN,"{'Gender': 'Masc', 'Number': 'Plur'}",3,nsubj,None,None,1,2,אנשים,0,---,O,_,0
2,1,3,מגיעים,הגיע,VERB,VERB,"{'Gender': 'Masc', 'HebBinyan': 'HIFIL', 'Numb...",0,root,None,None,1,3,מגיעים,0,HIFIL,O,_,0
3,1,4,מ,מ,ADP,ADP,None,5,case,None,None,1,4,מתאילנד,0,---,O,_,0
4,1,5,תאילנד,תאילנד,PROPN,PROPN,None,3,obl,None,None,1,4,מתאילנד,1,---,S-GPE,GPE,1

In [1476]:
spdf.head()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,עשרות,1,0,---,O,0,_
1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,אנשים,1,0,---,O,0,_
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,3,1,מגיעים,1,0,HIFIL,O,0,_
3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,מתאילנד,1,0,---,O,0,_
4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,מתאילנד,1,1,---,S-GPE,1,GPE

In [1477]:
spdf.tail(70)

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner
155260,20,חומץ,חומץ,NN,NN,gen=M|num=S,15,6149,חומץ,6149,0,---,O,0,_
155261,21,",",_,yyCM,yyCM,_,16,6149,",",6149,0,---,O,0,_
155262,22,עשבי,עשב,NNT,NNT,gen=M|num=P,17,6149,עשבי,6149,0,---,O,0,_
155263,23,תיבול,תיבול,NN,NN,gen=M|num=S,18,6149,תיבול,6149,0,---,O,0,_
155264,24,ו,ו,CONJ,CONJ,_,19,6149,ותבלינים,6149,0,---,O,0,_
155265,25,תבלינים,תבלין,NN,NN,gen=M|num=P,19,6149,ותבלינים,6149,1,---,O,0,_
155266,26,.,_,yyDOT,yyDOT,_,20,6149,.,6149,0,---,O,0,_
155267,1,אף,אף,CC,CC,_,1,6150,אף,6150,0,---,O,0,_
155268,2,ש,ש,REL,REL,_,2,6150,שהמנה,6150,0,---,O,0,_
155269,3,ה,_,DEF,DEF,_,2,6150,שהמנה,6150,1,---,O,0,_
155270,4,מנה,מנה,NN,NN,gen=F|num=S,2,6150,שהמנה,6150,2,---,O,0,_
155271,5,היתה,_,COP,COP,gen=F|num=S|per=3|polar=pos|tense=PAST,3,6150,היתה,6150,0,---,O,0,_
155272,6,טעימה,טעים,JJ,JJ,gen=F|num=S,4,6150,טעימה,6150,0,---,O,0,_
155273,7,",",_,yyCM,yyCM,_,5,6150,",",6150,0,---,O,0,_
155274,8,חסרה,חסר,VB,VB,gen=F|num=S|per=3|tense=PAST,6,6150,חסרה,6150,0,---,O,0,_
155275,9,ב,ב,IN,IN,_,7,6150,בה,6150,0,---,O,0,_
155276,10,היא,_,S_PRN,S_PRN,gen=F|num=S|per=3,7,6150,בה,6150,1,---,O,0,_
155277,11,ה,ה,DEF,DEF,_,8,6150,החריפות,6150,0,---,O,0,_
155278,12,חריפות,חריפות,NN,NN,gen=F|num=S,8,6150,החריפות,6150,1,---,O,0,_
155279,13,של,של,POS,POS,_,9,6150,של,6150,0,---,O,0,_
155280,14,פלפלי,פלפל,NNT,NNT,gen=M|num=P,10,6150,פלפלי,6150,0,---,O,0,_
155281,15,צילי,צילי,NNP,NNP,_,11,6150,צילי,6150,0,---,O,0,_
155282,16,ו,ו,CONJ,CONJ,_,12,6150,והמתיקות,6150,0,---,O,0,_
155283,17,ה,_,DEF,DEF,_,12,6150,והמתיקות,6150,1,---,O,0,_
155284,18,מתיקות,מתיקות,NN,NN,gen=F|num=S,12,6150,והמתיקות,6150,2,---,O,0,_
155285,19,של,של,POS,POS,_,13,6150,של,6150,0,---,O,0,_
155286,20,קורנית,קורנית,NN,NN,gen=F|num=S,14,6150,קורנית,6150,0,---,O,0,_
155287,21,ה,ה,DEF,DEF,_,15,6150,האופייניים,6150,0,---,O,0,_
155288,22,אופייניים,אופייני,BN,BN,gen=M|num=P|per=A,15,6150,האופייניים,6150,1,---,O,0,_
155289,23,ב,ב,PREPOSITION,PREPOSITION,_,16,6150,בדרך,6150,0,---,O,0,_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155300,5,ו,ו,CONJ,CONJ,_,5,6151,וחום,6151,0,---,O,0,_
155301,6,חום,חום,NN,NN,gen=M|num=S,5,6151,וחום,6151,1,---,O,0,_
155302,7,.,_,yyDOT,yyDOT,_,6,6151,.,6151,0,---,O,0,_
155303,1,הוריהם,הורה,NN,NN_S_PP,gen=M|num=P|suf_gen=M|suf_num=P|suf_per=3,1,6152,הוריהם,6152,0,---,O,0,_
155304,2,האמינו,האמין,VB,VB,gen=F|gen=M|num=P|per=3|tense=PAST,2,6152,האמינו,6152,0,HIFIL,O,0,_
155305,3,ב,ב,PREPOSITION,PREPOSITION,_,3,6152,ברפואה,6152,0,---,O,0,_
155306,4,ה,ה,DEF,DEF,_,3,6152,ברפואה,6152,1,---,O,0,_
155307,5,רפואה,רפואה,NN,NN,gen=F|num=S,3,6152,ברפואה,6152,2,---,O,0,_
155308,6,ה,ה,DEF,DEF,_,4,6152,המודרנית,6152,0,---,O,0,_
155309,7,מודרנית,מודרני,JJ,JJ,gen=F|num=S,4,6152,המודרנית,6152,1,---,O,0,_
155310,8,ו,ו,CONJ,CONJ,_,5,6152,והרופאים,6152,0,---,O,0,_
155311,9,ה,_,DEF,DEF,_,5,6152,והרופאים,6152,1,---,O,0,_
155312,10,רופאים,רופא,NN,NN,gen=M|num=P,5,6152,והרופאים,6152,2,---,O,0,_
155313,11,המליצו,המליץ,VB,VB,gen=F|gen=M|num=P|per=3|tense=PAST,6,6152,המליצו,6152,0,HIFIL,O,0,_
155314,12,על,על,IN,IN,_,7,6152,על,6152,0,---,O,0,_
155315,13,פאראצטמול,פאראצטמול,NNP,NNP,_,8,6152,פאראצטמול,6152,0,---,S-DUC,1,DUC
155316,14,",",_,yyCM,yyCM,_,9,6152,",",6152,0,---,O,0,_
155317,15,תרופה,תרופה,NN,NN,gen=F|num=S,10,6152,תרופה,6152,0,---,O,0,_
155318,16,דמוית,דמוי,JJT,JJT,gen=F|num=S,11,6152,דמוית,6152,0,---,O,0,_
155319,17,אספירין,אספירין,NN,NN,gen=M|num=S,12,6152,אספירין,6152,0,---,S-DUC,1,DUC
155320,18,.,_,yyDOT,yyDOT,_,13,6152,.,6152,0,---,O,0,_
155321,1,ה,ה,DEF,DEF,_,1,6153,העצה,6153,0,---,O,0,_
155322,2,עצה,עצה,NN,NN,gen=F|num=S,1,6153,העצה,6153,1,---,O,0,_
155323,3,היתה,_,COP,COP,gen=F|num=S|per=3|polar=pos|tense=PAST,2,6153,היתה,6153,0,---,O,0,_
155324,4,טובה,טוב,JJ,JJ,gen=F|num=S,3,6153,טובה,6153,0,---,O,0,_
155325,5,אך,אך,CC,CC,_,4,6153,אך,6153,0,---,O,0,_
155326,6,לא,לא,RB,RB,_,5,6153,לא,6153,0,---,O,0,_
155327,7,ה,ה,DEF,DEF,_,6,6153,התרופה,6153,0,---,O,0,_
155328,8,תרופה,תרופה,NN,NN,gen=F|num=S,6,6153,התרופה,6153,1,---,O,0,_
155329,9,.,_,yyDOT,yyDOT,_,7,6153,.,6153,0,---,O,0,_

In [1478]:
spdf.shape[0]

155330

In [1479]:
uddf.shape[0]

160379

## Fix Tokens

In [1506]:
afix = pd.read_csv('align/token_morpheme_alignment_spmrl_ud_with_fixes.csv')
afix.head()

,global_global_sent_id,global_TOKEN,sp_orig_sent,sp_token_str,sp_forms,sp_morph_ids,sp_count,ud_orig_sent,ud_token_str,ud_forms,ud_morph_ids,ud_count,fixed_token_str,fixed_sp_forms,fixed_ud_forms,comment
0,1,1,1,עשרות,עשרות,[1],1,1,עשרות,עשרות,[1],1,NaN,NaN,NaN,NaN
1,1,2,1,אנשים,אנשים,[2],1,1,אנשים,אנשים,[2],1,NaN,NaN,NaN,NaN
2,1,3,1,מגיעים,מגיעים,[3],1,1,מגיעים,מגיעים,[3],1,NaN,NaN,NaN,NaN
3,1,4,1,מתאילנד,מ תאילנד,"[4, 5]",2,1,מתאילנד,מ תאילנד,"[4, 5]",2,NaN,NaN,NaN,NaN
4,1,5,1,לישראל,ל ישראל,"[6, 7]",2,1,לישראל,ל ישראל,"[6, 7]",2,NaN,NaN,NaN,NaN

In [1507]:
afix[(afix.fixed_token_str.isna()) & (afix.sp_token_str.str.startswith('0')) & (afix.sp_token_str!='0')]

,global_global_sent_id,global_TOKEN,sp_orig_sent,sp_token_str,sp_forms,sp_morph_ids,sp_count,ud_orig_sent,ud_token_str,ud_forms,ud_morph_ids,ud_count,fixed_token_str,fixed_sp_forms,fixed_ud_forms,comment
971,50,28,50,0192,0192,[36],1,50,0192,0192,[36],1,NaN,NaN,NaN,NaN
60926,3261,13,3261,04833280,04833280,[16],1,3264,04833280,04833280,[16],1,NaN,NaN,NaN,NaN
90624,4863,5,4863,01.00,01.00,[7],1,4877,01.00,01.00,[7],1,NaN,NaN,NaN,NaN

In [1508]:
afix[afix.sp_count.isna()]

Empty DataFrame
Columns: [global_global_sent_id, global_TOKEN, sp_orig_sent, sp_token_str, sp_forms, sp_morph_ids, sp_count, ud_orig_sent, ud_token_str, ud_forms, ud_morph_ids, ud_count, fixed_token_str, fixed_sp_forms, fixed_ud_forms, comment]
Index: []

In [1509]:
afix[afix.comment=='קפ'].shape[0]

39

In [1510]:
afix.loc[(~(afix.comment=='קפ')) & (~afix.fixed_token_str.isna()) & (afix.fixed_sp_forms.isna()) & (afix.fixed_ud_forms.isna()), 'fixed_sp_forms'] = afix[(~(afix.comment=='קפ')) & (~afix.fixed_token_str.isna()) & (afix.fixed_sp_forms.isna()) & (afix.fixed_ud_forms.isna())]['fixed_token_str']

In [1511]:
afix.loc[(~(afix.comment=='קפ')) & (~afix.fixed_token_str.isna()) & (~afix.fixed_sp_forms.isna()) & (afix.fixed_ud_forms.isna()), 'fixed_ud_forms'] = afix[(~(afix.comment=='קפ')) & (~afix.fixed_token_str.isna()) & (~afix.fixed_sp_forms.isna()) & (afix.fixed_ud_forms.isna())]['fixed_sp_forms']

In [1512]:
afix[afix.fixed_sp_forms.fillna('').astype(str).apply(lambda x: len(x.split()))!=afix.fixed_ud_forms.fillna('').astype(str).apply(lambda x: len(x.split()))]

,global_global_sent_id,global_TOKEN,sp_orig_sent,sp_token_str,sp_forms,sp_morph_ids,sp_count,ud_orig_sent,ud_token_str,ud_forms,ud_morph_ids,ud_count,fixed_token_str,fixed_sp_forms,fixed_ud_forms,comment
47334,2485,1,2485,"קפספבינהמנכ""ל","קפספבין ה מנכ""ל","[1, 2, 3]",3,2487,"קפספבינהמנכ""ל","קפספבין ה מנכ""ל","[1, 2, 3]",3,המנכ”ל,ה מנכ”ל,NaN,קפ
49885,2645,1,2645,קפספבינהערב,קפספבין הערב,"[1, 2]",2,2647,קפספבינהערב,קפספבין הערב,"[1, 2]",2,הערב,ה ערב,NaN,קפ
63150,3383,1,3383,קפידבינהחוקרים,קפידבין ה חוקרים,"[1, 2, 3]",3,3389,קפידבינהחוקרים,קפידבין ה חוקרים,"[1, 2, 3]",3,החוקרים,ה חוקרים,NaN,קפ
69767,3749,1,3749,קפידבינבסניף,קפידבין ב סניף,"[1, 2, 3]",3,3757,קפידבינבסניף,קפידבין ב סניף,"[1, 2, 3]",3,בסניף,ב סניף,NaN,קפ
70053,3765,1,3765,קפידבינהתובעת,קפידבין ה תובעת,"[1, 2, 3]",3,3773,קפידבינהתובעת,קפידבין ה תובעת,"[1, 2, 3]",3,התובעת,ה תובעת,NaN,קפ
80680,4387,1,4387,קפידבינהמקורות,קפידבין ה מקורות,"[1, 2, 3]",3,4400,קפידבינהמקורות,קפידבין ה מקורות,"[1, 2, 3]",3,המקורות,ה מקורות,NaN,קפ
87032,4674,1,4674,קפידבינהתוכנית,קפידבין ה תוכנית,"[1, 2, 3]",3,4687,קפידבינהתוכנית,קפידבין ה תוכנית,"[1, 2, 3]",3,התוכנית,ה תוכנית,NaN,קפ
90260,4844,1,4844,קפידבינהמלך,קפידבין ה מלך,"[1, 2, 3]",3,4858,קפידבינהמלך,קפידבין ה מלך,"[1, 2, 3]",3,המלך,ה מלך,NaN,קפ
91012,4880,4,4880,כיקפידבינההסתדרות,כי קפידבין ה הסתדרות,"[4, 5, 6, 7]",4,4894,כיקפידבינההסתדרות,כי קפידבין ה הסתדרות,"[4, 5, 6, 7]",4,ההסתדרות,ה הסתדרות,NaN,קפ
91593,4905,1,4905,קפידבינהעיתון,קפידבין ה עיתון,"[1, 2, 3]",3,4919,קפידבינהעיתון,קפידבין ה עיתון,"[1, 2, 3]",3,העיתון,ה עיתון,NaN,קפ
100132,5338,1,5338,קפידבינבסוף,קפידבין ב סוף,"[1, 2, 3]",3,5357,קפידבינבסוף,קפידבין ב סוף,"[1, 2, 3]",3,בסוף,ב סוף,NaN,קפ
100793,5370,1,5370,קפידבינהמארק,קפידבין ה מארק,"[1, 2, 3]",3,5389,קפידבינהמארק,קפידבין ה מארק,"[1, 2, 3]",3,המארק,ה מארק,NaN,קפ

In [1513]:
afix[(~afix.fixed_sp_forms.isna()) & (afix.fixed_sp_forms.fillna('').astype(str).apply(lambda x: len(x.split()))!=afix.sp_count)]

,global_global_sent_id,global_TOKEN,sp_orig_sent,sp_token_str,sp_forms,sp_morph_ids,sp_count,ud_orig_sent,ud_token_str,ud_forms,ud_morph_ids,ud_count,fixed_token_str,fixed_sp_forms,fixed_ud_forms,comment
47334,2485,1,2485,"קפספבינהמנכ""ל","קפספבין ה מנכ""ל","[1, 2, 3]",3,2487,"קפספבינהמנכ""ל","קפספבין ה מנכ""ל","[1, 2, 3]",3,המנכ”ל,ה מנכ”ל,NaN,קפ
63150,3383,1,3383,קפידבינהחוקרים,קפידבין ה חוקרים,"[1, 2, 3]",3,3389,קפידבינהחוקרים,קפידבין ה חוקרים,"[1, 2, 3]",3,החוקרים,ה חוקרים,NaN,קפ
69767,3749,1,3749,קפידבינבסניף,קפידבין ב סניף,"[1, 2, 3]",3,3757,קפידבינבסניף,קפידבין ב סניף,"[1, 2, 3]",3,בסניף,ב סניף,NaN,קפ
70053,3765,1,3765,קפידבינהתובעת,קפידבין ה תובעת,"[1, 2, 3]",3,3773,קפידבינהתובעת,קפידבין ה תובעת,"[1, 2, 3]",3,התובעת,ה תובעת,NaN,קפ
80680,4387,1,4387,קפידבינהמקורות,קפידבין ה מקורות,"[1, 2, 3]",3,4400,קפידבינהמקורות,קפידבין ה מקורות,"[1, 2, 3]",3,המקורות,ה מקורות,NaN,קפ
87032,4674,1,4674,קפידבינהתוכנית,קפידבין ה תוכנית,"[1, 2, 3]",3,4687,קפידבינהתוכנית,קפידבין ה תוכנית,"[1, 2, 3]",3,התוכנית,ה תוכנית,NaN,קפ
90260,4844,1,4844,קפידבינהמלך,קפידבין ה מלך,"[1, 2, 3]",3,4858,קפידבינהמלך,קפידבין ה מלך,"[1, 2, 3]",3,המלך,ה מלך,NaN,קפ
91012,4880,4,4880,כיקפידבינההסתדרות,כי קפידבין ה הסתדרות,"[4, 5, 6, 7]",4,4894,כיקפידבינההסתדרות,כי קפידבין ה הסתדרות,"[4, 5, 6, 7]",4,ההסתדרות,ה הסתדרות,NaN,קפ
91593,4905,1,4905,קפידבינהעיתון,קפידבין ה עיתון,"[1, 2, 3]",3,4919,קפידבינהעיתון,קפידבין ה עיתון,"[1, 2, 3]",3,העיתון,ה עיתון,NaN,קפ
100086,5333,1,5333,קפידבינברצועה,קפידבין ב ה רצועה,"[1, 2, 3, 4]",4,5352,קפידבינברצועה,קפידבין ב ה_ רצועה,"[1, 2, 3, 4]",4,ברצועה,ב ה רצועה,ב ה_ רצועה,קפ
100132,5338,1,5338,קפידבינבסוף,קפידבין ב סוף,"[1, 2, 3]",3,5357,קפידבינבסוף,קפידבין ב סוף,"[1, 2, 3]",3,בסוף,ב סוף,NaN,קפ
100793,5370,1,5370,קפידבינהמארק,קפידבין ה מארק,"[1, 2, 3]",3,5389,קפידבינהמארק,קפידבין ה מארק,"[1, 2, 3]",3,המארק,ה מארק,NaN,קפ

In [1514]:
afix[(~afix.fixed_ud_forms.isna()) & (afix.fixed_ud_forms.fillna('').astype(str).apply(lambda x: len(x.split()))!=afix.ud_count)]

,global_global_sent_id,global_TOKEN,sp_orig_sent,sp_token_str,sp_forms,sp_morph_ids,sp_count,ud_orig_sent,ud_token_str,ud_forms,ud_morph_ids,ud_count,fixed_token_str,fixed_sp_forms,fixed_ud_forms,comment
100086,5333,1,5333,קפידבינברצועה,קפידבין ב ה רצועה,"[1, 2, 3, 4]",4,5352,קפידבינברצועה,קפידבין ב ה_ רצועה,"[1, 2, 3, 4]",4,ברצועה,ב ה רצועה,ב ה_ רצועה,קפ

In [1515]:
afix.head()

,global_global_sent_id,global_TOKEN,sp_orig_sent,sp_token_str,sp_forms,sp_morph_ids,sp_count,ud_orig_sent,ud_token_str,ud_forms,ud_morph_ids,ud_count,fixed_token_str,fixed_sp_forms,fixed_ud_forms,comment
0,1,1,1,עשרות,עשרות,[1],1,1,עשרות,עשרות,[1],1,NaN,NaN,NaN,NaN
1,1,2,1,אנשים,אנשים,[2],1,1,אנשים,אנשים,[2],1,NaN,NaN,NaN,NaN
2,1,3,1,מגיעים,מגיעים,[3],1,1,מגיעים,מגיעים,[3],1,NaN,NaN,NaN,NaN
3,1,4,1,מתאילנד,מ תאילנד,"[4, 5]",2,1,מתאילנד,מ תאילנד,"[4, 5]",2,NaN,NaN,NaN,NaN
4,1,5,1,לישראל,ל ישראל,"[6, 7]",2,1,לישראל,ל ישראל,"[6, 7]",2,NaN,NaN,NaN,NaN

In [1516]:
spdf_fixed = spdf.copy()
uddf_fixed = uddf.copy()
def fix_conll_tokens(spdf, uddf, afix, filter_comments = ['קפ', ], fix_lemma=True):
    for i, row in afix.loc[(~(afix.comment.isin(filter_comments))) & (~afix.fixed_token_str.isna())].iterrows():
        #spdf.loc[(spdf.global_sent_id==(row['global_global_sent_id']) & (spdf.id==)]
        sp_morph_ids = eval(row['sp_morph_ids'])
        fixed_sp_forms = row['fixed_sp_forms'].split()
        for mid, fsp in zip(sp_morph_ids, fixed_sp_forms):
            spdf.loc[(spdf.global_sent_id==(row['global_global_sent_id'])) & (spdf.id==mid), 'form'] = fsp
            spdf.loc[(spdf.global_sent_id==(row['global_global_sent_id'])) & (spdf.id==mid), 'token_str'] = row['fixed_token_str']
            if (fix_lemma and  (spdf.loc[(spdf.global_sent_id==(row['global_global_sent_id']))
                                         & (spdf.id==mid), 'lemma'].values[0]!='_')):
                spdf.loc[(spdf.global_sent_id==(row['global_global_sent_id'])) & (spdf.id==mid), 'lemma'] = fsp


        ud_morph_ids = eval(row['ud_morph_ids'])
        fixed_ud_forms = row['fixed_ud_forms'].split()
        for mid, fud in zip(ud_morph_ids, fixed_ud_forms):
            uddf.loc[(uddf.global_sent_id==(row['global_global_sent_id'])) & (uddf.id==mid), 'form'] = fud
            uddf.loc[(uddf.global_sent_id==(row['global_global_sent_id'])) & (uddf.id==mid), 'token_str'] = row['fixed_token_str']
            if (fix_lemma and  (uddf.loc[(uddf.global_sent_id==(row['global_global_sent_id'])) 
                                         & (uddf.id==mid), 'lemma'].values[0]!='_')):
                uddf.loc[(uddf.global_sent_id==(row['global_global_sent_id'])) & (uddf.id==mid), 'lemma'] = fud
                
fix_conll_tokens(spdf_fixed, uddf_fixed, afix)
    
spdf_fixed[spdf_fixed.form!=spdf.form]

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner
47,5,"ח""כ","ח""כ",NN,NN,gen=M|num=S,4,3,"ח""כ",3,0,---,O,0,_
305,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,11,"ח""כ",11,0,---,O,0,_
348,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,13,"ח""כ",13,0,---,O,0,_
423,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,15,"ח""כ",15,0,---,O,0,_
2266,2,1980,_,CD,CD,_,1,83,ב1980,83,1,---,O,0,_
2500,19,1988,_,CD,CD,_,15,94,מ1988,94,1,---,O,0,_
2935,9,200,_,CD,CD,_,8,110,200,110,0,---,O,0,_
2953,4,25,_,CD,CD,_,4,111,25,111,0,---,O,0,_
5022,3,1977,_,CD,CD,_,2,205,1977,205,0,---,O,0,_
6015,21,1989,_,CD,CD,_,16,240,ב1989,240,1,---,O,0,_
6761,23,1979,_,CD,CD,_,18,269,1979,269,0,---,O,0,_
6763,25,1989,_,CD,CD,_,19,269,ל1989,269,1,---,O,0,_
7393,22,1990,_,CD,CD,_,14,297,1990,297,0,---,O,0,_
7844,18,1992,_,CD,CD,_,12,316,ב1992,316,1,---,O,0,_
8002,41,1984,_,CD,CD,_,31,323,1984,323,0,---,O,0,_
8163,26,1984,_,CD,CD,_,18,329,1984,329,0,---,O,0,_
8455,3,58,_,CD,CD,_,2,344,58,344,0,---,O,0,_
8488,20,1990,_,CD,CD,_,14,345,1990,345,0,---,O,0,_
8523,34,1988,_,CD,CD,_,23,346,1988,346,0,---,O,0,_
9542,2,1978,_,CD,CD,_,1,398,ב1978,398,1,---,O,0,_
9670,25,1942,_,CD,CD,_,19,402,1942,402,0,---,O,0,_
9678,7,1958,_,CD,CD,_,5,403,1958,403,0,---,O,0,_
9705,2,1983,_,CD,CD,_,1,405,ב1983,405,1,---,O,0,_
9732,2,1984,_,CD,CD,_,1,406,ב1984,406,1,---,O,0,_
9895,3,1983,_,CD,CD,_,2,413,1983,413,0,---,O,0,_
9955,8,18,_,CD,CD,_,4,417,ב18,417,2,---,O,0,_
10476,17,"ח""כ",_,NN,NN,gen=M|num=S,12,445,הח”כ,445,1,---,O,0,_
11577,15,308,_,CD,CD,_,14,512,308,512,0,---,O,0,_
11649,19,29,_,CD,CD,_,14,515,29,515,0,---,O,0,_
11693,13,10,_,CD,CD,_,9,517,10,517,0,---,O,0,_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126474,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,4984,"ח""כ",4984,0,---,O,0,_
126512,6,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,4985,"ח""כ",4985,0,---,O,0,_
127494,6,10.4,_,NCD,NCD,_,5,5020,10.4,5020,0,---,O,0,_
127503,15,19.8,_,NCD,NCD,_,14,5020,19.8,5020,0,---,O,0,_
127531,18,13.5,_,NCD,NCD,_,15,5021,13.5,5021,0,---,O,0,_
127553,15,500,_,CD,CD,_,10,5022,500,5022,0,---,O,0,_
131365,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5179,"ח""כ",5179,0,---,O,0,_
131398,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5180,"ח""כ",5180,0,---,O,0,_
134484,25,"430,000",_,CD,CD,_,19,5289,"430,000",5289,0,---,O,0,_
140011,23,5400,_,CD,CD,_,13,5516,5400,5516,0,---,O,0,_
140818,25,מ,מ,NNP,NNP,gen=F|gen=M|num=S,19,5550,מ,5550,0,---,E-ORG,1,ORG[11]
141322,38,1-0,_,CD,CD,_,28,5570,1-0,5570,0,---,O,0,_
141337,7,12,_,CD,CD,_,5,5571,12,5571,0,---,O,0,_
141456,20,4-0,_,CD,CD,_,16,5575,4-0,5575,0,---,O,0,_
142136,29,0-0,_,CD,CD,_,21,5600,0-0,5600,0,---,O,0,_
143014,31,90,_,CD,CD,_,27,5646,90,5646,0,---,O,0,_
143015,32,139,_,CD,CD,_,28,5646,139,5646,0,---,O,0,_
143523,6,2-12,_,CD,CD,_,6,5670,2-12,5670,0,---,O,0,_
143530,13,6-17,_,CD,CD,_,13,5670,6-17,5670,0,---,O,0,_
143806,3,90,_,CD,CD,_,2,5684,90,5684,0,---,O,0,_
143807,4,139,_,CD,CD,_,3,5684,139,5684,0,---,O,0,_
143840,13,14,_,CD,CD,_,11,5685,14,5685,0,---,O,0,_
145402,9,"ח""כ","ח""כ",NN,NN,gen=M|num=S,7,5771,"ח""כ",5771,0,---,O,0,_
145432,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5772,"ח""כ",5772,0,---,O,0,_
145473,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5773,"ח""כ",5773,0,---,O,0,_
145669,8,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,5779,"ח""כ",5779,0,---,O,0,_
145706,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5781,"ח""כ",5781,0,---,O,0,_
146171,15,נ,נ,NNP,NNP,gen=F|gen=M|num=S,12,5808,נ,5808,0,---,I-ORG,1,ORG[78]
149418,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5923,"ח""כ",5923,0,---,O,0,_
149899,5,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,5940,"ח""כ",5940,0,---,O,0,_

In [1517]:
spdf_fixed[(spdf_fixed.form!=spdf.form) & (spdf_fixed.lemma!='_')]

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner
47,5,"ח""כ","ח""כ",NN,NN,gen=M|num=S,4,3,"ח""כ",3,0,---,O,0,_
305,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,11,"ח""כ",11,0,---,O,0,_
348,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,13,"ח""כ",13,0,---,O,0,_
423,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,15,"ח""כ",15,0,---,O,0,_
34244,42,"ח""כ","ח""כ",NN,NN,gen=M|num=S,32,1391,"ח""כ",1391,0,---,O,0,_
47409,23,"ח""כ","ח""כ",NN,NN,gen=M|num=S,15,1867,"ח""כ",1867,0,---,O,0,_
47496,15,"ח""כ","ח""כ",NN,NN,gen=M|num=S,12,1869,הח”כ,1869,1,---,O,0,_
47508,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,1870,"ח""כ",1870,0,---,O,0,_
47542,35,"ח""כ","ח""כ",NN,NN,gen=M|num=S,26,1870,הח”כ,1870,1,---,O,0,_
47592,34,"ח""כ","ח""כ",NN,NN,gen=M|num=S,24,1871,"ח""כ",1871,0,---,O,0,_
47596,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,1872,"ח""כ",1872,0,---,O,0,_
47645,7,"ח""כ","ח""כ",NN,NN,gen=M|num=S,6,1874,"ח""כ",1874,0,---,O,0,_
47774,9,"ח""כ","ח""כ",NN,NN,gen=M|num=S,6,1878,"ח""כ",1878,0,---,O,0,_
56396,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,2153,"ח""כ",2153,0,---,O,0,_
56650,19,"ח""כ","ח""כ",NN,NN,gen=M|num=S,15,2159,"ח""כ",2159,0,---,O,0,_
56899,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,2172,"ח""כ",2172,0,---,O,0,_
56965,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,2176,"ח""כ",2176,0,---,O,0,_
57804,30,"ח""כ","ח""כ",NN,NN,gen=M|num=S,24,2208,"ח""כ",2208,0,---,O,0,_
60862,22,גי15,גי15,ZVL,ZVL,_,18,2321,גי15,2321,0,---,O,0,_
83389,5,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,3306,"ח""כ",3306,0,---,O,0,_
86437,7,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,3423,"ח""כ",3423,0,---,O,0,_
98183,18,"ח""כ","ח""כ",NN,NN,gen=M|num=S,10,3876,"ח""כ",3876,0,---,O,0,_
98202,37,"ח""כ","ח""כ",NN,NN,gen=M|num=S,26,3876,לח”כ,3876,1,---,O,0,_
98346,19,"ח""כ","ח""כ",NN,NN,gen=M|num=S,15,3882,וח”כ,3882,1,---,O,0,_
98361,12,"ח""כ","ח""כ",NN,NN,gen=M|num=S,8,3883,"ח""כ",3883,0,---,O,0,_
98378,29,"ח""כ","ח""כ",NN,NN,gen=M|num=S,21,3883,"ח""כ",3883,0,---,O,0,_
98430,25,"ח""כ","ח""כ",NN,NN,gen=M|num=S,19,3885,"ח""כ",3885,0,---,O,0,_
115526,17,"ח""כ","ח""כ",NN,NN,gen=M|num=S,11,4596,"ח""כ",4596,0,---,O,0,_
121719,2,"ח""כ","ח""כ",NN,NN,gen=M|num=S,2,4821,"ח""כ",4821,0,---,O,0,_
121971,10,"ח""כ","ח""כ",NN,NN,gen=M|num=S,8,4829,"ח""כ",4829,0,---,O,0,_
123082,12,"ח""כ","ח""כ",NN,NN,gen=M|num=S,7,4872,"ח""כ",4872,0,---,O,0,_
123195,5,"ח""כ","ח""כ",NN,NN,gen=M|num=S,4,4875,"ח""כ",4875,0,---,O,0,_
123219,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,4876,"ח""כ",4876,0,---,O,0,_
123301,9,"ח""כ","ח""כ",NN,NN,gen=M|num=S,6,4878,"ח""כ",4878,0,---,O,0,_
123352,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,4880,"ח""כ",4880,0,---,O,0,_
126402,9,"ח""כ","ח""כ",NN,NN,gen=M|num=S,7,4982,"ח""כ",4982,0,---,O,0,_
126431,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,4983,"ח""כ",4983,0,---,O,0,_
126474,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,4984,"ח""כ",4984,0,---,O,0,_
126512,6,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,4985,"ח""כ",4985,0,---,O,0,_
131365,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5179,"ח""כ",5179,0,---,O,0,_
131398,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5180,"ח""כ",5180,0,---,O,0,_
140818,25,מ,מ,NNP,NNP,gen=F|gen=M|num=S,19,5550,מ,5550,0,---,E-ORG,1,ORG[11]
145402,9,"ח""כ","ח""כ",NN,NN,gen=M|num=S,7,5771,"ח""כ",5771,0,---,O,0,_
145432,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5772,"ח""כ",5772,0,---,O,0,_
145473,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5773,"ח""כ",5773,0,---,O,0,_
145669,8,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,5779,"ח""כ",5779,0,---,O,0,_
145706,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5781,"ח""כ",5781,0,---,O,0,_
146171,15,נ,נ,NNP,NNP,gen=F|gen=M|num=S,12,5808,נ,5808,0,---,I-ORG,1,ORG[78]
149418,1,"ח""כ","ח""כ",NN,NN,gen=M|num=S,1,5923,"ח""כ",5923,0,---,O,0,_
149899,5,"ח""כ","ח""כ",NN,NN,gen=M|num=S,5,5940,"ח""כ",5940,0,---,O,0,_

### Evaluate Named Entities

In [1518]:
import importlib
importlib.reload(nem)

In [1519]:
import ne_evaluate_mentions as nem

In [1519]:
sp_sents_for_ment = spdf_fixed.assign(token = lambda x: x.form.str.strip('_')).groupby('global_sent_id')[['form', 'biose']].apply(lambda x: x.values.tolist())
sp_mentions = nem.sents_to_mentions(sp_sents_for_ment, None)
sp_mentions[:5]

[(1, 'תאילנד', 'GPE', 1),
 (1, 'ישראל', 'GPE', 1),
 (2, 'וועדת ה עבודה ו ה רווחה', 'ORG', 1),
 (2, 'ה כנסת', 'ORG', 1),
 (3, 'אורה נמיר', 'PER', 1)]

In [1520]:
ud_sents_for_ment = uddf_fixed.assign(token = lambda x: x.form.str.strip('_')).groupby('global_sent_id')[['token', 'biose']].apply(lambda x: x.values.tolist())
ud_mentions = nem.sents_to_mentions(ud_sents_for_ment, None)
ud_mentions[:5]

[(1, 'תאילנד', 'GPE', 1),
 (1, 'ישראל', 'GPE', 1),
 (2, 'וועדת ה עבודה ו ה רווחה', 'ORG', 1),
 (2, 'ה כנסת', 'ORG', 1),
 (3, 'אורה נמיר', 'PER', 1)]

In [1521]:
nem.evaluate_mentions(ud_mentions, sp_mentions, examples=20)

7711 mentions, 7705 found, 7703 correct.
Precision: 1.0
Recall:    1.0
F1:        1.0
FP ex.: ['חייו ה אמיתיים של אלחנדרו מייטה', 'ה ברוקרים של ה רעיונות : צוותות חשיבה ו עלייתה של עלית מדיניות חדשה']
FN ex.: ['ב יום מוות של הוא', 'ענף עץ ו מוצר של הוא', 'ב יום מוות של הוא', 'ספוטניק', 'ל אריס של היא', 'חיים של הוא ה אמיתיים של אלחנדרו מייטה', 'ה ברוקרים של ה רעיונות : צוותות חשיבה ו עלייה של היא של עלית מדיניות חדשה', 'מכון ון - ליר']

(0.9989625210737907, 0.999740428293316, 0.999351323300467)

In [1825]:
spdf_fixed.loc[(spdf_fixed.global_sent_id==3658) & (spdf_fixed.id==9), 'biose'] = 'E-ORG'
spdf_fixed.loc[(spdf_fixed.global_sent_id==5610) & (spdf_fixed.id==15), 'biose'] = 'E-ORG'
spdf_fixed.loc[(spdf_fixed.global_sent_id==4116) & (spdf_fixed.id==48), 'biose'] = 'S-DUC'
spdf_fixed.loc[(spdf_fixed.global_sent_id==4121) & (spdf_fixed.id==9), 'biose'] = 'B-ORG'
spdf_fixed.loc[(spdf_fixed.global_sent_id==1096) & (spdf_fixed.id==10), 'biose'] = 'E-WOA'
spdf_fixed.loc[(spdf_fixed.global_sent_id==1204) & (spdf_fixed.id==16), 'biose'] = 'E-WOA'

In [1826]:
sp_sents_for_ment = spdf_fixed.assign(token = lambda x: x.form.str.strip('_')).groupby('global_sent_id')[['form', 'biose']].apply(lambda x: x.values.tolist())
sp_mentions = nem.sents_to_mentions(sp_sents_for_ment, None)
sp_mentions[:5]

[(1, 'תאילנד', 'GPE', 1),
 (1, 'ישראל', 'GPE', 1),
 (2, 'וועדת ה עבודה ו ה רווחה', 'ORG', 1),
 (2, 'ה כנסת', 'ORG', 1),
 (3, 'אורה נמיר', 'PER', 1)]

In [1827]:
ud_sents_for_ment = uddf_fixed.assign(token = lambda x: x.form.str.strip('_')).groupby('global_sent_id')[['token', 'biose']].apply(lambda x: x.values.tolist())
ud_mentions = nem.sents_to_mentions(ud_sents_for_ment, None)
ud_mentions[:5]

[(1, 'תאילנד', 'GPE', 1),
 (1, 'ישראל', 'GPE', 1),
 (2, 'וועדת ה עבודה ו ה רווחה', 'ORG', 1),
 (2, 'ה כנסת', 'ORG', 1),
 (3, 'אורה נמיר', 'PER', 1)]

In [1828]:
nem.evaluate_mentions(ud_mentions, sp_mentions, examples=20)

7711 mentions, 7711 found, 7705 correct.
Precision: 1.0
Recall:    1.0
F1:        1.0
FP ex.: ['חייו ה אמיתיים של אלחנדרו מייטה', 'ענף עץ ו מוצריו', 'ב יום מותו', 'ב יום מותו', 'ל אריסה', 'ה ברוקרים של ה רעיונות : צוותות חשיבה ו עלייתה של עלית מדיניות חדשה']
FN ex.: ['ב יום מוות של הוא', 'ענף עץ ו מוצר של הוא', 'ב יום מוות של הוא', 'חיים של הוא ה אמיתיים של אלחנדרו מייטה', 'ל אריס של היא', 'ה ברוקרים של ה רעיונות : צוותות חשיבה ו עלייה של היא של עלית מדיניות חדשה']

(0.9992218908053431, 0.9992218908053431, 0.9992218908053431)

## Output CONLL / U

    ID: Word index, integer starting at 1 for each new sentence; may be a range for multiword tokens; may be a decimal number for empty nodes (decimal numbers can be lower than 1 but must be greater than 0).
    FORM: Word form or punctuation symbol.
    LEMMA: Lemma or stem of word form.
    UPOS: Universal part-of-speech tag.
    XPOS: Language-specific part-of-speech tag; underscore if not available.
    FEATS: List of morphological features from the universal feature inventory or from a defined language-specific extension; underscore if not available.
    HEAD: Head of the current word, which is either a value of ID or zero (0).
    DEPREL: Universal dependency relation to the HEAD (root iff HEAD = 0) or a defined language-specific subtype of one.
    DEPS: Enhanced dependency graph in the form of a list of head-deprel pairs.
    MISC: Any other annotation.

[TokenList<עשרות, אנשים, מגיעים, מתאילנד, מ, תאילנד, לישראל, ל, ישראל, כשהם, כש, הם, נרשמים, כמתנדבים, כ, מתנדבים, ,, אך, למעשה, משמשים, עובדים, שכירים, זולים, .>,
 TokenList<תופעה, זו, התבררה, אתמול, בוועדת, ב, וועדת, העבודה, ה, עבודה, והרווחה, ו, ה, רווחה, של, הכנסת, ה, כנסת, ,, שדנה, ש, דנה, בנושא, ב, נושא, העסקת, עובדים, זרים, .>,
 TokenList<יו"ר, הוועדה, ה, וועדה, ,, ח"כ, אורה, נמיר, (, מערך, ), ,, טענה, כי, ", מביאים, עובדים, זרים, לישראל, ל, ישראל, על, תקן, של, מתנדבים, מתאילנד, מ, תאילנד, ,, רק, כדי, לא, לשלם, להם, ל_, _הם, שכר, מינימום, .>,
 TokenList<מצד, מ, צד, אחד, רוצה, האוצר, ה, אוצר, להוריד, את, שכר, המינימום, ה, מינימום, ,, ומצד, ו, מ, צד, שני, מתיר, משרד, העבודה, ה, עבודה, והרווחה, ו, ה, רווחה, להעסיק, עובדים, זרים, בפחות, ב, פחות, משכר, מ, שכר, זה, ", .>,
 TokenList<נמיר, הודיעה, כי, תפנה, לשרי, ל, שרי, הפנים, ה, פנים, והעבודה, ו, ה, עבודה, והרווחה, ו, ה, רווחה, ולמזכיר, ו, ל, מזכיר, תנועת, המושבים, ה, מושבים, ,, בתביעה, ב, תביעה, לבטל, את, הזמנתם, הזמנה_, _של_, _הם, של, 500, עובדים, זרים, מתאילנד, מ, תאילנד, כמתנדבים, כ, מתנדבים, כביכול, .>]

In [1621]:
sp_test_c = make_conll_df('hebtb_spmrl/test_hebtb-gold.conll')
sp_dev_c = make_conll_df('hebtb_spmrl/dev_hebtb-gold.conll')
sp_train_c = make_conll_df('hebtb_spmrl/train_hebtb-gold.conll')
sp_dev_c['orig_sent'] = sp_dev_c.sent
sp_train_c['orig_sent'] = sp_train_c.sent + 500
sp_test_c['orig_sent'] = sp_test_c.sent + 500 + 4937
sp_conll = pd.concat([sp_dev_c, sp_train_c, sp_test_c]).reset_index().drop('index', axis=1)
sp_conll.head()

,ID,FORM,LEMMA,UPOS,XPOS,FEATS,HEAD,DEPREL,DEPS,MISC,sent,orig_sent
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,2,num,_,_,1,1
1,2,אנשים,איש,NN,NN,gen=M|num=P,3,subj,_,_,1,1
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A,0,ROOT,_,_,1,1
3,4,מ,מ,PREPOSITION,PREPOSITION,_,3,prepmod,_,_,1,1
4,5,תאילנד,תאילנד,NNP,NNP,_,4,pobj,_,_,1,1

In [1622]:
sp_conll.shape

(155330, 12)

In [1623]:
spdf_fixed.shape

(155330, 15)

In [1624]:
spdf_fixed[['head', 'deprel', 'deps', 'misc']] = sp_conll[['HEAD', 'DEPREL', 'DEPS', 'MISC']]

In [1687]:
list(ud_dev[0])[:5]

[OrderedDict([('id', 1),
              ('form', 'עשרות'),
              ('lemma', 'עשרות'),
              ('upostag', 'NUM'),
              ('xpostag', 'NUM'),
              ('feats',
               OrderedDict([('Definite', 'Cons'),
                            ('Gender', 'Fem'),
                            ('Number', 'Plur')])),
              ('head', 2),
              ('deprel', 'nummod'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', 2),
              ('form', 'אנשים'),
              ('lemma', 'איש'),
              ('upostag', 'NOUN'),
              ('xpostag', 'NOUN'),
              ('feats', OrderedDict([('Gender', 'Masc'), ('Number', 'Plur')])),
              ('head', 3),
              ('deprel', 'nsubj'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', 3),
              ('form', 'מגיעים'),
              ('lemma', 'הגיע'),
              ('upostag', 'VERB'),
              ('xpostag', 'VERB'),
              ('feats',
               OrderedDict([('Gender', 'Masc'),
                            ('HebBinyan', 'HIFIL'),
                            ('Number', 'Plur'),
                            ('Person', '1,2,3'),
                            ('VerbForm', 'Part'),
                            ('Voice', 'Act')])),
              ('head', 0),
              ('deprel', 'root'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', (4, '-', 5)),
              ('form', 'מתאילנד'),
              ('lemma', '_'),
              ('upostag', '_'),
              ('xpostag', None),
              ('feats', None),
              ('head', None),
              ('deprel', '_'),
              ('deps', None),
              ('misc', None)]),
 OrderedDict([('id', 4),
              ('form', 'מ'),
              ('lemma', 'מ'),
              ('upostag', 'ADP'),
              ('xpostag', 'ADP'),
              ('feats', None),
              ('head', 5),
              ('deprel', 'case'),
              ('deps', None),
              ('misc', None)])]

In [1625]:
spdf_fixed.head()

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner,head,deprel,deps,misc
0,1,עשרות,עשר,CDT,CDT,gen=F|num=P,1,1,עשרות,1,0,---,O,0,_,2,num,_,_
1,2,אנשים,איש,NN,NN,gen=M|num=P,2,1,אנשים,1,0,---,O,0,_,3,subj,_,_
2,3,מגיעים,הגיע,BN,BN,gen=M|num=P|per=A|HebBinyan=HIFIL,3,1,מגיעים,1,0,HIFIL,O,0,_,0,ROOT,_,_
3,4,מ,מ,PREPOSITION,PREPOSITION,_,4,1,מתאילנד,1,0,---,O,0,_,3,prepmod,_,_
4,5,תאילנד,תאילנד,NNP,NNP,_,4,1,מתאילנד,1,1,---,S-GPE,1,GPE,4,pobj,_,_

In [1734]:
spdf_fixed.loc[spdf_fixed.feats.isin(['8','2'])]

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner,head,deprel,deps,misc,ner_escaped
56024,2,פחות,פחותJJT,JJT,gen=M|num=S,8,1,2138,קפידבינפחות,2138,1,---,O,0,_,dep,_,_,NaN,_
135629,4,רצועה,רצועה,NN,NN gen=F|num=S,2,1,5333,קפידבינברצועה,5333,3,---,E-LOC,1,LOC[49],pobj,_,_,NaN,LOC[49]

In [1729]:
spdf_fixed[spdf_fixed.global_sent_id==2138]

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner,head,deprel,deps,misc,ner_escaped
56023,1,קפידבין,_,ZVL,ZVL,_,1,2138,קפידבינפחות,2138,0,---,O,0,_,11,dep,_,_,_
56024,2,פחות,פחותJJT,JJT,gen=M|num=S,8,1,2138,קפידבינפחות,2138,1,---,O,0,_,dep,_,_,NaN,_
56025,3,מ,מ,PREPOSITION,PREPOSITION,_,2,2138,ממחצית,2138,0,---,O,0,_,2,dep,_,_,_
56026,4,מחצית,_,DTT,DTT,_,2,2138,ממחצית,2138,1,---,O,0,_,8,dep,_,_,_
56027,5,מתוך,מתוך,IN,IN,_,3,2138,מתוך,2138,0,---,O,0,_,8,dep,_,_,_
56028,6,כלל,כלל,DTT,DTT,_,4,2138,כלל,2138,0,---,O,0,_,8,det,_,_,_
56029,7,180,_,CD,CD,_,5,2138,180,2138,0,---,O,0,_,8,number,_,_,_
56030,8,חברי,חבר,NNT,NNT,gen=M|num=P,6,2138,חברי,2138,0,---,O,0,_,11,subj,_,_,_
56031,9,ה,ה,DEF,DEF,_,7,2138,המועצה,2138,0,---,O,0,_,10,def,_,_,_
56032,10,מועצה,מועצה,NN,NN,gen=F|num=S,7,2138,המועצה,2138,1,---,O,0,_,8,gobj,_,_,_
56033,11,הגיעו,הגיע,VB,VB,gen=F|gen=M|num=P|per=3|tense=PAST|HebBinyan=H...,8,2138,הגיעו,2138,0,HIFIL,O,0,_,0,ROOT,_,_,_
56034,12,ל,ל,PREPOSITION,PREPOSITION,_,9,2138,לאסיפה,2138,0,---,O,0,_,11,prepmod,_,_,_
56035,13,ה,ה,DEF,DEF,_,9,2138,לאסיפה,2138,1,---,O,0,_,14,def,_,_,_
56036,14,אסיפה,אסיפה,NN,NN,gen=F|num=S,9,2138,לאסיפה,2138,2,---,O,0,_,12,pobj,_,_,_
56037,15,.,_,yyDOT,yyDOT,_,10,2138,.,2138,0,---,O,0,_,11,punct,_,_,_

In [1735]:
spdf_fixed[spdf_fixed.global_sent_id==5333]

,id,form,lemma,upostag,xpostag,feats,token_id,sent_id,token_str,global_sent_id,token_morph_id,binyan,biose,ner_layers,ner,head,deprel,deps,misc,ner_escaped
135626,1,קפידבין,_,ZVL,ZVL,_,1,5333,קפידבינברצועה,5333,0,---,O,0,_,5,dep,_,_,_
135627,2,ב,_,PREPOSITION,PREPOSITION,_,1,5333,קפידבינברצועה,5333,1,---,O,0,_,5,prepmod,_,_,_
135628,3,ה,_,DEF,DEF,_,1,5333,קפידבינברצועה,5333,2,---,B-LOC,1,LOC[49],4,def,_,_,LOC[49]
135629,4,רצועה,רצועה,NN,NN gen=F|num=S,2,1,5333,קפידבינברצועה,5333,3,---,E-LOC,1,LOC[49],pobj,_,_,NaN,LOC[49]
135630,5,היתה,היה,COP,COP,gen=F|num=S|per=3,2,5333,היתה,5333,0,---,O,0,_,0,ROOT,_,_,_
135631,6,ב,ב,PREPOSITION,PREPOSITION,_,3,5333,ביום,5333,0,---,O,0,_,5,prepmod,_,_,_
135632,7,יום,יום,NNT,NNT,gen=M|num=S,3,5333,ביום,5333,1,---,O,0,_,6,pobj,_,_,_
135633,8,ששי,ששי,NNP,NNP,_,4,5333,ששי,5333,0,---,O,0,_,7,gobj,_,_,_
135634,9,שביתה,שביתה,NN,NN,gen=F|num=S,5,5333,שביתה,5333,0,---,O,0,_,5,subj,_,_,_
135635,10,כללית,כללי,JJ,JJ,gen=F|num=S,6,5333,כללית,5333,0,---,O,0,_,9,amod,_,_,_
135636,11,.,_,yyDOT,yyDOT,_,7,5333,.,5333,0,---,O,0,_,5,punct,_,_,_

In [1736]:
spdf_fixed.loc[spdf_fixed.feats.isin(['8','2']), 'feats'] = '_'

In [1708]:
spdf_fixed['ner_escaped'] = spdf_fixed.ner.str.replace('|', '~')

In [1781]:
DEFAULT_FIELDS = ['id', 'form', 'lemma', 'upostag', 'xpostag', 'feats', 'head', 'deprel', 'deps', 'misc']
def sentence_to_conllu_token_list(sent, add_misc=['biose', 'ner_escaped', 'token_id', 'token_str']):
    metadata = OrderedDict([('sent_id', str(sent['sent_id'].iat[0])), ('global_sent_id', str(sent['global_sent_id'].iat[0]))])
    
    if add_misc is not None:
        amisc = sent.apply(lambda x: [m+'='+str(x[m]) for m in add_misc], axis=1)
        amisc = amisc.str.join('|')
    token_morphs = (sent.groupby('token_id').id.agg([min, max])
                 .pipe(lambda x: x[x['max'] - x['min']>0])
                 .assign(token_morphs=lambda x: x['min'].astype(str)+'-'+x['max'].astype(str))
                 .set_index('min')['token_morphs'])   
    token_list = []
    
    for (i, row), token_str, am in zip(sent[DEFAULT_FIELDS].iterrows(), sent['token_str'].tolist(), amisc.tolist()):
        token = OrderedDict(row)
        if type(token['feats']) == str and token['feats']!='_':
            token['feats'] = OrderedDict([f.split('=') for f in token['feats'].split('|')])
            
        am = OrderedDict([f.split('=') for f in am.split('|') ])
        if token['misc'] =='_' or token['misc'] is None:
            token['misc'] = am
        elif type(token['misc'])==str:
            token['misc'] = OrderedDict([('MISC', token['misc'])])
            token['misc'].update(am)
        elif type(token['misc'])==OrderedDict:
            am.update(token['misc'])
            token['misc'] = am
            
        if token['id'] in token_morphs:
            tok_row = OrderedDict([(f, '_') for f in DEFAULT_FIELDS])
            id_tup = token_morphs[token['id']].split('-')
            tok_row['id'] = (id_tup[0], '-', id_tup[1])
            tok_row['form'] = token_str
            token_list.append(tok_row)
            
        token_list.append(token)
        
    return token_list, metadata

In [1829]:
from conllu.models import TokenList
sp_conllu_sents = [TokenList(*sentence_to_conllu_token_list(spdf_fixed[spdf_fixed.sent_id==i])) for i in spdf_fixed.sent_id.drop_duplicates().tolist()]
print(sp_conllu_sents[2].serialize())

# sent_id = 3
# global_sent_id = 3
1	יו"ר	יו"ר	NNT	NNT	gen=M|num=S	12	subj	_	biose=O|ner_escaped=_|token_id=1|token_str=יו"ר
2-3	הוועדה	_	_	_	_	_	_	_	_
2	ה	ה	DEF	DEF	_	3	def	_	biose=O|ner_escaped=_|token_id=2|token_str=הוועדה
3	וועדה	ועדה	NN	NN	gen=F|num=S	1	gobj	_	biose=O|ner_escaped=_|token_id=2|token_str=הוועדה
4	,	_	yyCM	yyCM	_	1	punct	_	biose=O|ner_escaped=_|token_id=3|token_str=,
5	ח"כ	ח"כ	NN	NN	gen=M|num=S	1	appos	_	biose=O|ner_escaped=_|token_id=4|token_str=ח"כ
6	אורה	אורה	NNP	NNP	_	5	nn	_	biose=B-PER|ner_escaped=PER[3]|token_id=5|token_str=אורה
7	נמיר	נמיר	NNP	NNP	_	6	nn	_	biose=E-PER|ner_escaped=PER[3]|token_id=6|token_str=נמיר
8	(	_	yyLRB	yyLRB	_	5	punct	_	biose=O|ner_escaped=_|token_id=7|token_str=(
9	מערך	מערך	NNP	NNP	_	5	appos	_	biose=S-ORG|ner_escaped=ORG|token_id=8|token_str=מערך
10	)	_	yyRRB	yyRRB	_	5	punct	_	biose=O|ner_escaped=_|token_id=9|token_str=)
11	,	_	yyCM	yyCM	_	1	punct	_	biose=O|ner_escaped=_|token_id=10|token_str=,
12	טענה	טען	VB	VB	gen=F|num=S|per=3|tense=PAST|HebBinyan=PAAL	0	ROOT	_	biose=O|ner_escaped=_|token_id=11|token_str=טענה
13	כי	כי	CC	CC	_	12	comp	_	biose=O|ner_escaped=_|token_id=12|token_str=כי
14	"	_	yyQUOT	yyQUOT	_	15	punct	_	biose=O|ner_escaped=_|token_id=13|token_str="
15	מביאים	הביא	BN	BN	gen=M|num=P|per=A|HebBinyan=HIFIL	13	ccomp	_	biose=O|ner_escaped=_|token_id=14|token_str=מביאים
16	עובדים	עובד	NN	NN	gen=M|num=P	15	obj	_	biose=O|ner_escaped=_|token_id=15|token_str=עובדים
17	זרים	זר	JJ	JJ	gen=M|num=P	16	amod	_	biose=O|ner_escaped=_|token_id=16|token_str=זרים
18-19	לישראל	_	_	_	_	_	_	_	_
18	ל	ל	PREPOSITION	PREPOSITION	_	15	prepmod	_	biose=O|ner_escaped=_|token_id=17|token_str=לישראל
19	ישראל	ישראל	NNP	NNP	_	18	pobj	_	biose=S-GPE|ner_escaped=GPE|token_id=17|token_str=לישראל
20	על	על	IN	IN	_	15	prepmod	_	biose=O|ner_escaped=_|token_id=18|token_str=על
21	תקן	תקן	NN	NN	gen=M|num=S	20	pobj	_	biose=O|ner_escaped=_|token_id=19|token_str=תקן
22	של	של	POS	POS	_	21	posspmod	_	biose=O|ner_escaped=_|token_id=20|token_str=של
23	מתנדבים	מתנדב	NN	NN	gen=M|num=P	22	gobj	_	biose=O|ner_escaped=_|token_id=21|token_str=מתנדבים
24-25	מתאילנד	_	_	_	_	_	_	_	_
24	מ	מ	PREPOSITION	PREPOSITION	_	23	prepmod	_	biose=O|ner_escaped=_|token_id=22|token_str=מתאילנד
25	תאילנד	תאילנד	NNP	NNP	_	24	pobj	_	biose=S-GPE|ner_escaped=GPE|token_id=22|token_str=מתאילנד
26	,	_	yyCM	yyCM	_	15	punct	_	biose=O|ner_escaped=_|token_id=23|token_str=,
27	רק	רק	RB	RB	_	28	advmod	_	biose=O|ner_escaped=_|token_id=24|token_str=רק
28	כדי	_	IN	IN	_	15	prepmod	_	biose=O|ner_escaped=_|token_id=25|token_str=כדי
29	לא	לא	RB	RB	_	30	neg	_	biose=O|ner_escaped=_|token_id=26|token_str=לא
30	לשלם	שילם	VB	VB	tense=TOINFINITIVE|HebBinyan=PIEL	28	pcomp	_	biose=O|ner_escaped=_|token_id=27|token_str=לשלם
31-32	להם	_	_	_	_	_	_	_	_
31	ל	ל	IN	IN	_	30	prepmod	_	biose=O|ner_escaped=_|token_id=28|token_str=להם
32	המ	הם	S_PRN	S_PRN	gen=M|num=P|per=3	31	pobj	_	biose=O|ner_escaped=_|token_id=28|token_str=להם
33	שכר	שכר	NNT	NNT	gen=M|num=S	30	obj	_	biose=O|ner_escaped=_|token_id=29|token_str=שכר
34	מינימום	מינימום	NN	NN	gen=M|num=S	33	gobj	_	biose=O|ner_escaped=_|token_id=30|token_str=מינימום
35	.	_	yyDOT	yyDOT	_	12	punct	_	biose=O|ner_escaped=_|token_id=31|token_str=.

In [1830]:
with open('align/spmrl_fixed.conllu', 'w', encoding='utf8') as f:
    for s in sp_conllu_sents:
        f.write(s.serialize())

uddf_fixed['ner_escaped'] = uddf_fixed.ner.str.replace('|', '~')

In [1831]:
ud_conllu_sents = [TokenList(*sentence_to_conllu_token_list(uddf_fixed[uddf_fixed.sent_id==i])) for i in uddf_fixed.sent_id.drop_duplicates().tolist()]
print(ud_conllu_sents[2].serialize())

# sent_id = 3
# global_sent_id = 3
1	יו"ר	יו"ר	NOUN	NOUN	Abbr=Yes|Definite=Cons|Gender=Masc|Number=Sing	12	nsubj	_	biose=O|ner_escaped=_|token_id=1|token_str=יו"ר
2-3	הוועדה	_	_	_	_	_	_	_	_
2	ה	ה	DET	DET	PronType=Art	3	det:def	_	biose=O|ner_escaped=_|token_id=2|token_str=הוועדה
3	וועדה	ועדה	NOUN	NOUN	Gender=Fem|Number=Sing	1	compound:smixut	_	biose=O|ner_escaped=_|token_id=2|token_str=הוועדה
4	,	,	PUNCT	PUNCT	_	1	punct	_	biose=O|ner_escaped=_|token_id=3|token_str=,
5	ח"כ	ח"כ	NOUN	NOUN	Abbr=Yes|Gender=Masc|Number=Sing	1	appos	_	biose=O|ner_escaped=_|token_id=4|token_str=ח"כ
6	אורה	אורה	PROPN	PROPN	_	5	flat:name	_	biose=B-PER|ner_escaped=PER[3]|token_id=5|token_str=אורה
7	נמיר	נמיר	PROPN	PROPN	_	5	flat:name	_	biose=E-PER|ner_escaped=PER[3]|token_id=6|token_str=נמיר
8	(	(	PUNCT	PUNCT	_	9	punct	_	biose=O|ner_escaped=_|token_id=7|token_str=(|SpaceAfter=No
9	מערך	מערך	PROPN	PROPN	_	5	appos	_	biose=S-ORG|ner_escaped=ORG|token_id=8|token_str=מערך|SpaceAfter=No
10	)	)	PUNCT	PUNCT	_	9	punct	_	biose=O|ner_escaped=_|token_id=9|token_str=)|SpaceAfter=No
11	,	,	PUNCT	PUNCT	_	1	punct	_	biose=O|ner_escaped=_|token_id=10|token_str=,
12	טענה	טען	VERB	VERB	Gender=Fem|HebBinyan=PAAL|Number=Sing|Person=3|Tense=Past|Voice=Act	0	root	_	biose=O|ner_escaped=_|token_id=11|token_str=טענה
13	כי	כי	SCONJ	SCONJ	_	15	mark	_	biose=O|ner_escaped=_|token_id=12|token_str=כי
14	"	"	PUNCT	PUNCT	_	15	punct	_	biose=O|ner_escaped=_|token_id=13|token_str="|SpaceAfter=No
15	מביאים	הביא	VERB	VERB	Gender=Masc|HebBinyan=HIFIL|Number=Plur|Person=1,2,3|VerbForm=Part|Voice=Act	12	ccomp	_	biose=O|ner_escaped=_|token_id=14|token_str=מביאים
16	עובדים	עובד	NOUN	NOUN	Gender=Masc|Number=Plur	15	obj	_	biose=O|ner_escaped=_|token_id=15|token_str=עובדים
17	זרים	זר	ADJ	ADJ	Gender=Masc|Number=Plur	16	amod	_	biose=O|ner_escaped=_|token_id=16|token_str=זרים
18-19	לישראל	_	_	_	_	_	_	_	_
18	ל	ל	ADP	ADP	_	19	case	_	biose=O|ner_escaped=_|token_id=17|token_str=לישראל
19	ישראל	ישראל	PROPN	PROPN	_	15	obl	_	biose=S-GPE|ner_escaped=GPE|token_id=17|token_str=לישראל
20	על	על	ADP	ADP	_	21	case	_	biose=O|ner_escaped=_|token_id=18|token_str=על
21	תקן	תקן	NOUN	NOUN	Gender=Masc|Number=Sing	15	obl	_	biose=O|ner_escaped=_|token_id=19|token_str=תקן
22	של	של	ADP	ADP	Case=Gen	23	case:gen	_	biose=O|ner_escaped=_|token_id=20|token_str=של
23	מתנדבים	מתנדב	NOUN	NOUN	Gender=Masc|Number=Plur	21	nmod:poss	_	biose=O|ner_escaped=_|token_id=21|token_str=מתנדבים
24-25	מתאילנד	_	_	_	_	_	_	_	_
24	מ	מ	ADP	ADP	_	25	case	_	biose=O|ner_escaped=_|token_id=22|token_str=מתאילנד
25	תאילנד	תאילנד	PROPN	PROPN	_	23	nmod	_	biose=S-GPE|ner_escaped=GPE|token_id=22|token_str=מתאילנד
26	,	,	PUNCT	PUNCT	_	15	punct	_	biose=O|ner_escaped=_|token_id=23|token_str=,
27	רק	רק	ADV	ADV	_	28	advmod	_	biose=O|ner_escaped=_|token_id=24|token_str=רק
28	כדי	כדי	ADP	ADP	_	30	case	_	biose=O|ner_escaped=_|token_id=25|token_str=כדי
29	לא	לא	ADV	ADV	Polarity=Neg	30	advmod	_	biose=O|ner_escaped=_|token_id=26|token_str=לא
30	לשלם	שילם	VERB	VERB	HebBinyan=PIEL|VerbForm=Inf|Voice=Act	15	advcl	_	biose=O|ner_escaped=_|token_id=27|token_str=לשלם
31-32	להם	_	_	_	_	_	_	_	_
31	ל_	ל	ADP	ADP	_	32	case	_	biose=O|ner_escaped=_|token_id=28|token_str=להם
32	_הם	הוא	PRON	PRON	Gender=Masc|Number=Plur|Person=3|PronType=Prs	30	obl	_	biose=O|ner_escaped=_|token_id=28|token_str=להם
33	שכר	שכר	NOUN	NOUN	Definite=Cons|Gender=Masc|Number=Sing	30	obj	_	biose=O|ner_escaped=_|token_id=29|token_str=שכר
34	מינימום	מינימום	NOUN	NOUN	Gender=Masc|Number=Sing	33	compound:smixut	_	biose=O|ner_escaped=_|token_id=30|token_str=מינימום|SpaceAfter=No
35	.	.	PUNCT	PUNCT	_	12	punct	_	biose=O|ner_escaped=_|token_id=31|token_str=.

In [1832]:
with open('align/ud_fixed.conllu', 'w', encoding='utf8') as f:
    for s in ud_conllu_sents:
        f.write(s.serialize())

## Get back MISC from UD token lines (SpaceAfter)

## Alignment - Add text metadata (tokenized SPMRL, pre-tokenized UD)

## Alignment - Add duplicate metadata

## 4. Create tests to run when commiting new versions of TBs

## 5. Upload official train-dev-test splits for SPMRL & UD
   1. Standard sentence indexes 
   1. Standard token indexes (when possible) 
   1. CONLL
   1. NER